<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<script src="../../wsg/js/wsg_include.js"></script>
<script>include.meta()</script>
<script>include.head()</script>
<script type="text/javascript">
<!--
	function fileAttach(obj){
		var $this = $(obj).closest('.file');
		$this.find('[type=file]').trigger('click');
		$this.find('[type=file]').not('.is-evented').on('change', function(){
			var value = $(this).val();
			$this.find('[type=text]').val(value);
		}).addClass('is-evented');
	}
//-->
</script>
</head>
<body>
<div id="g-wrapper">
	<script>include.header()</script>
	<div id="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article id="g-content">
			<div class="g-content-header">
				<h1 class="g-h1">Form Mixins</h1>
				<p class="g-explain-h1">Library Elements</p>
			</div>
			<div class="g-content-body">
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Default</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">Markup Codeview</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">API</a>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
                                    .form-controls          : 폼 그룹 컨트롤즈
									.form-input-group		: 폼 그룹 인풋
									.form-check-group		: 폼 그룹 체크박스
									.form-radio-group		: 폼 그룹 라디오
									.form-switch-group		: 폼 그룹 스위치
									.form-file-group		: 폼 그룹 파일
                                    .type-이름
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Form Controls</h2>
					</div>
					<div class="g-section-body">
						<h3 class="g-h3">Common</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="#" class="g-example-btn">HTML</a>
									<a href="#" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<!-- 마크업뷰영역 -->
									<div style="max-width:720px; width:100%;">
										<div class="form-controls">
											<input type="text" name="" id="" value="" placeholder="Free Layout" class="form-input" />
											<button type="button" class="button form-button"><span>확인</span></button>
										</div>
										<br />
										<div class="form-controls flexible">
											<input type="text" name="" id="" value="" placeholder="Flex Layout" class="form-input" />
											<button type="button" class="button form-button"><span>검색</span></button>
										</div>
										<br />
										<div class="form-controls flexible">
											<span class="form-text">직장</span>
                                            <input type="text" name="" id="" value="" placeholder="Prepend & Append" class="form-input" />
											<button type="button" class="button form-button"><span>전송</span></button>
										</div>
									</div>
									<!-- //마크업뷰영역 -->
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									&lt;!-- Common (has-prepend, has-append) -->
                                    <div class="form-controls">
                                        <input type="text" name="" id="" value="" placeholder="Free Layout" class="form-input" />
                                        <button type="button" class="button form-button"><span>확인</span></button>
                                    </div>

                                    <div class="form-controls flexible">
                                        <input type="text" name="" id="" value="" placeholder="Flex Layout" class="form-input" />
                                        <button type="button" class="button form-button"><span>검색</span></button>
                                    </div>

                                    <div class="form-controls flexible">
                                        <span class="form-text">직장</span>
                                        <span class="form-input-group">
                                            <input type="text" name="" id="" value="" placeholder="Prepend & Append" class="form-input" />
                                        </span>
                                        <button type="button" class="button form-button"><span>전송</span></button>
                                    </div>
                                </pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    /*-------------------------------------------------------------------
                                        @@ Form Controls
                                    -------------------------------------------------------------------*/
                                    /* Controls */
                                    .form-controls {position:relative; display:flex; width:100%;}
                                    .form-controls.flexible .form-input {width:100%;}

                                    /* Gutter */
                                    .form-controls .form-text {margin:0 8px;}
                                    .form-controls .form-button {margin:0 8px;}
                                    .form-controls .form-text:first-child,
                                    .form-controls .form-button:first-child {margin-left:0;}
                                    .form-controls .form-text:last-child,
                                    .form-controls .form-button:last-child {margin-right:0;}
                                </pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Input Group</h2>
					</div>
					<div class="g-section-body">
						<h3 class="g-h3">Type Search</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="#" class="g-example-btn">HTML</a>
									<a href="#" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<!-- 마크업뷰영역 -->
									<div style="max-width:720px; width:100%;">
										<div class="form-controls flexible">
											<span class="form-input-group type-search">
												<input type="text" name="sSearchA" id="sSearchA" value="" placeholder="검색어를 입력하세요." class="form-input" />
												<button type="button" class="button"><i class="icon icon-search1 dark"></i></button>
											</span>
										</div>
									</div>
									<!-- //마크업뷰영역 -->
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									&lt;!-- Custom (has-사용자정의) -->
                                    <span class="form-input-group type-search">
                                        <input type="text" name="sSearchA" id="sSearchA" value="" placeholder="검색어를 입력하세요." class="form-input" />
                                        <button type="button" class="button"><i class="icon icon-search1 dark"></i></button>
                                    </span>
                                </pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    /*-------------------------------------------------------------------
                                        @@ Form Controls Group
                                    -------------------------------------------------------------------*/
                                    /* Common */
                                    .form-input-group {position:relative; display:block;}
                                    .form-input-group .form-input {width:100%;}

                                    /* Type Search */
                                    .form-input-group.type-search {width:100%;}
                                    .form-input-group.type-search .button-ico {@include centered-r; right: 5px; height:30px; width:30px; line-height:30px;} /* 검색아이콘 버튼 */
                                    .form-input-group.type-search .form-input {padding-right:40px;}
								</pre>
							</div>
						</div>

                        <h3 class="g-h3">Type Clear</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="#" class="g-example-btn">HTML</a>
									<a href="#" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<!-- 마크업뷰영역 -->
									<div style="max-width:720px; width:100%;">
										<div class="form-controls flexible">
											<span class="form-input-group type-clear">
												<input type="text" name="sTitle" id="sTitle" value="제목 입력중" placeholder="제목을 입력하세요." class="form-input" />
												<button type="button" class="button"><i class="icon icon-del1 gray"></i></button>
											</span>
										</div>
									</div>
									<!-- //마크업뷰영역 -->
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									&lt;!-- Custom (has-사용자정의) -->
                                    <span class="form-input-group type-search">
                                        <input type="text" name="sSearchA" id="sSearchA" value="제목 입력중" placeholder="제목을 입력하세요." class="form-input" />
                                        <button type="button" class="button"><i class="icon icon-del1 dark"></i></button>
                                    </span>
                                </pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    /*-------------------------------------------------------------------
                                        @@ Form Controls Group
                                    -------------------------------------------------------------------*/
                                    /* Common */
                                    .form-input-group {position:relative; display:block;}
                                    .form-input-group .form-input {width:100%;}

                                    /* Type Search */
                                    .form-input-group.type-search {width:100%;}
                                    .form-input-group.type-search .button-ico {@include centered-r; right: 5px; height:30px; width:30px; line-height:30px;} /* 검색아이콘 버튼 */
                                    .form-input-group.type-search .form-input {padding-right:40px;}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Patterns</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<!-- 마크업뷰영역 -->
								<div style="max-width:720px; width:100%">
									<!-- 아이디 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label" for="sID">아이디</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible">
													<input type="text" name="sID" id="sID" value="" placeholder="" class="form-input is-errored" />
												</div>
											</div>
										</div>
										<div class="form-desc">
											<p>영문/숫자 포함 6자리 이상</p>
										</div>
										<!-- 개발참고 : 클래스 is-successed 성공, is-errored 에러 (상태 클래스가 적용되면 노출됨) -->
										<div class="form-alert is-errored is-visibled" role="alert">
											<p>에러메세지</p>
										</div>
										<div class="form-alert is-successed is-visibled" role="alert">
											<p>성공메세지</p>
										</div>
									</div>

									<!-- 비밀번호 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label" for="sPassword">비밀번호</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible">
													<input type="password" name="sPassword" id="sPassword" value="" placeholder="" class="form-input" />
												</div>
											</div>
										</div>
										<!-- 개발참고 : 클래스 is-successed 성공, is-errored 에러 (상태 클래스가 적용되면 노출됨) -->
										<div class="form-alert is-errored" role="alert">
											<p>비밀번호가 틀렸습니다.</p>
										</div>
									</div>

									<!-- 검색 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label" for="sSearchA">검색1</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible">
													<span class="form-input-group type-search">
														<input type="text" name="sSearchA" id="sSearchA" value="" placeholder="" class="form-input" />
														<button type="button" class="button"><i class="icon icon-search1 dark"></i></button>
													</span>
												</div>
											</div>
										</div>
										<div class="form-info">
											<p>울산시는 울산광역시로 변경되었습니다.</p>
										</div>
									</div>

									<!-- 검색 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label" for="sSearchB">검색2</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible">
													<input type="text" name="sSearchB" id="sSearchB" value="" placeholder="" class="form-input" />
													<button type="button" class="button form-button"><span>검색</span></button>
												</div>
											</div>
										</div>
									</div>

									<!-- 우편번호 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label" for="sAddress1">주소 (type-address)</label>
											</div>
											<div class="form-content">
												<div class="form-controls type-address">
													<div class="row">
														<input type="text" name="sAddress" id="sAddress1" value="" placeholder="" title="우편번호" class="form-input" />
														<button type="button" class="button form-button"><span>우편번호</span></button>
													</div>
													<div class="row">
														<input type="text" name="sAddress" id="sAddress2" value="" placeholder="" title="기본주소" class="form-input" />
													</div>
													<div class="row">
														<input type="text" name="sAddress" id="sAddress3" value="" placeholder="" title="상세주소" class="form-input" />
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- 일반전화번호 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label">일반전화번호 (type-telNo)</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible type-telNo">
													<select name="sTelNo" id="sTelNo1" title="지역 번호" class="form-select">
														<option value="">02</option>
													</select>
													<span class="form-split">-</span>
													<input type="tel" name="sTelNo" id="sTelNo2" value="" placeholder="" title="국 번호" class="form-input" />
													<span class="form-split">-</span>
													<input type="tel" name="sTelNo" id="sTelNo3" value="" placeholder="" title="가입자 번호" class="form-input" />
												</div>
											</div>
										</div>
									</div>

									<!-- 휴대전화번호 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label">휴대전화번호 (type-telNo)</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible type-telNo">
													<select name="sPhoneNo" id="sPhoneNo1" title="사업자 식별번호" class="form-select">
														<option value="">02</option>
													</select>
													<span class="form-split">-</span>
													<input type="tel" name="sPhoneNo" id="sPhoneNo2" value="" placeholder="" title="국 번호" class="form-input" />
													<span class="form-split">-</span>
													<input type="tel" name="sPhoneNo" id="sPhoneNo3" value="" placeholder="" title="가입자 번호" class="form-input" />
												</div>
											</div>
										</div>
									</div>

									<!-- 이메일주소 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label">이메일주소 (type-email1)</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible type-email1">
													<input type="text" name="sEmail" id="sEmail1" value="" placeholder="" title="이메일 사용자 아이디" class="form-input" />
													<span class="form-split">@</span>
													<input type="text" name="sEmail" id="sEmail2" value="" placeholder="" title="이메일 서비스 도메인" class="form-input" />
												</div>
											</div>
										</div>
									</div>

									<!-- 이메일주소 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label">이메일주소 (type-email2)</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible type-email2">
													<input type="text" name="sEmail2" id="sEmail3" value="" placeholder="" title="이메일 사용자 아이디" class="form-input" />
													<span class="form-split">@</span>
													<select name="sEmail2" id="sEmail4" title="이메일 서비스 도메인" class="form-select">
														<option value="">선택하세요.</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<!-- 이메일주소 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label">이메일주소 (type-email3)</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible type-email3">
													<input type="text" name="sEmail3" id="sEmail5" value="" placeholder="" title="이메일 사용자 아이디" class="form-input" />
													<span class="form-split">@</span>
													<input type="text" name="sEmail3" id="sEmail6" value="" placeholder="" title="이메일 사용자 아이디" class="form-input" />
													<select name="sEmail3" id="sEmail7" title="이메일 서비스 도메인" class="form-select">
														<option value="">선택하세요.</option>
													</select>
												</div>
											</div>
										</div>
									</div>

									<!-- 주민등록번호 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label">주민등록번호 (type-socialNo)</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible type-socialNo">
													<input type="tel" name="sSocialNo" id="sSocialNo1" value="" placeholder="" title="주민등록번호 앞 6자리" class="form-input" />
													<span class="form-split">-</span>
													<input type="password" name="sSocialNo" id="sSocialNo2" value="" placeholder="" title="주민등록번호 뒤 7자리" class="form-input" />
												</div>
											</div>
										</div>
									</div>

									<!-- 외국인등록번호 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label">외국인등록번호 (type-globalNo)</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible type-globalNo">
													<input type="tel" name="sGlobalNo" id="sGlobalNo1" value="" placeholder="" title="외국인등록번호 앞 6자리" class="form-input" />
													<span class="form-split">-</span>
													<input type="password" name="sGlobalNo" id="sGlobalNo2" value="" placeholder="" title="외국인등록번호 뒤 7자리" class="form-input" />
												</div>
											</div>
										</div>
									</div>

									<!-- 법인번호 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label">법인번호 (type-corpNo)</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible type-corpNo">
													<input type="tel" name="sCorpNo" id="sCorpNo1" value="" placeholder="" title="법인번호 앞 6자리" class="form-input" />
													<span class="form-split">-</span>
													<input type="tel" name="sCorpNo" id="sCorpNo2" value="" placeholder="" title="법인번호 뒤 7자리" class="form-input" />
												</div>
											</div>
										</div>
									</div>

									<!-- 사업자등록번호 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label">사업자등록번호 (type-bizNo)</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible type-bizNo">
													<input type="tel" name="sBizNo" id="sBizNo1" value="" placeholder="" title="사업자등록번호 앞 3자리" class="form-input" />
													<span class="form-split">-</span>
													<input type="tel" name="sBizNo" id="sBizNo2" value="" placeholder="" title="사업자등록번호 가운데 2자리" class="form-input" />
													<span class="form-split">-</span>
													<input type="tel" name="sBizNo" id="sBizNo3" value="" placeholder="" title="사업자등록번호 뒤 5자리" class="form-input" />
												</div>
											</div>
										</div>
									</div>

									<!-- 카드번호 -->
									<div class="form type-row">
										<div class="form-container">
											<div class="form-title">
												<label class="form-label">카드번호 (type-cardNo)</label>
											</div>
											<div class="form-content">
												<div class="form-controls flexible type-cardNo">
													<input type="tel" name="sCardNo" id="sCardNo1" value="" placeholder="" title="카드번호 첫번째 4자리" class="form-input" />
													<span class="form-split">-</span>
													<input type="tel" name="sCardNo" id="sCardNo2" value="" placeholder="" title="카드번호 두번째 4자리" class="form-input" />
													<span class="form-split">-</span>
													<input type="password" name="sCardNo" id="sCardNo3" value="" placeholder="" title="카드번호 세변째 4자리" class="form-input secret" />
													<span class="form-split">-</span>
													<input type="password" name="sCardNo" id="sCardNo4" value="" placeholder="" title="카드번호 네번째 4자리" class="form-input secret" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //마크업뷰영역 -->
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									&lt;!-- 아이디 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label" for="sID">아이디&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible">
													&lt;input type="text" name="sID" id="sID" value="" placeholder="" class="form-input" />
												&lt;/div>
											&lt;/div>
										&lt;/div>
										&lt;div class="form-desc">
											&lt;p>영문/숫자 포함 6자리 이상&lt;/p>
										&lt;/div>
										&lt;!-- 개발참고 : 클래스 is-successed 성공, is-errored 에러 (상태 클래스가 적용되면 노출됨) -->
										&lt;div class="form-alert" role="alert">
											&lt;p>에러메세지 또는 성공메세지&lt;/p>
										&lt;/div>
									&lt;/div>

									&lt;!-- 비밀번호 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label" for="sPassword">비밀번호&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible">
													&lt;input type="password" name="sPassword" id="sPassword" value="" placeholder="" class="form-input" />
												&lt;/div>
											&lt;/div>
										&lt;/div>
										&lt;!-- 개발참고 : 클래스 is-successed 성공, is-errored 에러 (상태 클래스가 적용되면 노출됨) -->
										&lt;div class="form-alert is-errored" role="alert">
											&lt;p>비밀번호가 틀렸습니다.&lt;/p>
										&lt;/div>
									&lt;/div>

									&lt;!-- 검색 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label" for="sSearchA">검색1&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible">
													&lt;span class="form-input-group has-search">
														&lt;input type="text" name="sSearchA" id="sSearchA" value="" placeholder="" class="form-input" />
														&lt;button type="button" class="button">&lt;span>&lt;i class="icon icon-search1 dark">&lt;/i>&lt;/span>&lt;/button>
													&lt;/span>
												&lt;/div>
											&lt;/div>
										&lt;/div>
										&lt;div class="form-info">
											&lt;p>울산시는 울산광역시로 변경되었습니다.&lt;/p>
										&lt;/div>
									&lt;/div>

									&lt;!-- 검색 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label" for="sSearchB">검색2&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible">
													&lt;input type="text" name="sSearchB" id="sSearchB" value="" placeholder="" class="form-input" />
													&lt;button type="button" class="button form-button">&lt;span>검색&lt;/span>&lt;/button>
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>

									&lt;!-- 우편번호 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label" for="sAddress1">주소 (type-address)&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls type-address">
													&lt;div class="row">
														&lt;input type="text" name="sAddress" id="sAddress1" value="" placeholder="" title="우편번호" class="form-input" />
														&lt;button type="button" class="button form-button">&lt;span>우편번호&lt;/span>&lt;/button>
													&lt;/div>
													&lt;div class="row">
														&lt;input type="text" name="sAddress" id="sAddress2" value="" placeholder="" title="기본주소" class="form-input" />
													&lt;/div>
													&lt;div class="row">
														&lt;input type="text" name="sAddress" id="sAddress3" value="" placeholder="" title="상세주소" class="form-input" />
													&lt;/div>
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>

									&lt;!-- 일반전화번호 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label">일반전화번호 (type-telNo)&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible type-telNo">
													&lt;select name="sTelNo" id="sTelNo1" title="지역 번호" class="form-select">
														&lt;option value="">02&lt;/option>
													&lt;/select>
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="tel" name="sTelNo" id="sTelNo2" value="" placeholder="" title="국 번호" class="form-input" />
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="tel" name="sTelNo" id="sTelNo3" value="" placeholder="" title="가입자 번호" class="form-input" />
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>

									&lt;!-- 휴대전화번호 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label">휴대전화번호 (type-telNo)&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible type-telNo">
													&lt;select name="sPhoneNo" id="sPhoneNo1" title="사업자 식별번호" class="form-select">
														&lt;option value="">02&lt;/option>
													&lt;/select>
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="tel" name="sPhoneNo" id="sPhoneNo2" value="" placeholder="" title="국 번호" class="form-input" />
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="tel" name="sPhoneNo" id="sPhoneNo3" value="" placeholder="" title="가입자 번호" class="form-input" />
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>

									&lt;!-- 이메일주소 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label">이메일주소 (type-email1)&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible type-email1">
													&lt;input type="text" name="sEmail" id="sEmail1" value="" placeholder="" title="이메일 사용자 아이디" class="form-input" />
													&lt;span class="form-split">@&lt;/span>
													&lt;input type="text" name="sEmail" id="sEmail2" value="" placeholder="" title="이메일 서비스 도메인" class="form-input" />
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>

									&lt;!-- 이메일주소 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label">이메일주소 (type-email2)&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible type-email2">
													&lt;input type="text" name="sEmail2" id="sEmail3" value="" placeholder="" title="이메일 사용자 아이디" class="form-input" />
													&lt;span class="form-split">@&lt;/span>
													&lt;select name="sEmail2" id="sEmail4" title="이메일 서비스 도메인" class="form-select">
														&lt;option value="">선택하세요.&lt;/option>
													&lt;/select>
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>

									&lt;!-- 이메일주소 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label">이메일주소 (type-email3)&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible type-email3">
													&lt;input type="text" name="sEmail3" id="sEmail5" value="" placeholder="" title="이메일 사용자 아이디" class="form-input" />
													&lt;span class="form-split">@&lt;/span>
													&lt;input type="text" name="sEmail3" id="sEmail6" value="" placeholder="" title="이메일 사용자 아이디" class="form-input" />
													&lt;select name="sEmail3" id="sEmail7" title="이메일 서비스 도메인" class="form-select">
														&lt;option value="">선택하세요.&lt;/option>
													&lt;/select>
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>

									&lt;!-- 주민등록번호 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label">주민등록번호 (type-socialNo)&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible type-socialNo">
													&lt;input type="tel" name="sSocialNo" id="sSocialNo1" value="" placeholder="" title="주민등록번호 앞 6자리" class="form-input" />
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="password" name="sSocialNo" id="sSocialNo2" value="" placeholder="" title="주민등록번호 뒤 7자리" class="form-input" />
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>

									&lt;!-- 외국인등록번호 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label">외국인등록번호 (type-globalNo)&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible type-globalNo">
													&lt;input type="tel" name="sGlobalNo" id="sGlobalNo1" value="" placeholder="" title="외국인등록번호 앞 6자리" class="form-input" />
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="password" name="sGlobalNo" id="sGlobalNo2" value="" placeholder="" title="외국인등록번호 뒤 7자리" class="form-input" />
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>

									&lt;!-- 법인번호 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label">법인번호 (type-corpNo)&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible type-corpNo">
													&lt;input type="tel" name="sCorpNo" id="sCorpNo1" value="" placeholder="" title="법인번호 앞 6자리" class="form-input" />
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="tel" name="sCorpNo" id="sCorpNo2" value="" placeholder="" title="법인번호 뒤 7자리" class="form-input" />
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>

									&lt;!-- 사업자등록번호 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label">사업자등록번호 (type-bizNo)&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible type-bizNo">
													&lt;input type="tel" name="sBizNo" id="sBizNo1" value="" placeholder="" title="사업자등록번호 앞 3자리" class="form-input" />
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="tel" name="sBizNo" id="sBizNo2" value="" placeholder="" title="사업자등록번호 가운데 2자리" class="form-input" />
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="tel" name="sBizNo" id="sBizNo3" value="" placeholder="" title="사업자등록번호 뒤 5자리" class="form-input" />
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>

									&lt;!-- 카드번호 -->
									&lt;div class="form type-row">
										&lt;div class="form-container">
											&lt;div class="form-title">
												&lt;label class="label">카드번호 (type-cardNo)&lt;/label>
											&lt;/div>
											&lt;div class="form-content">
												&lt;div class="form-controls flexible type-cardNo">
													&lt;input type="tel" name="sCardNo" id="sCardNo1" value="" placeholder="" title="카드번호 첫번째 4자리" class="form-input" />
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="tel" name="sCardNo" id="sCardNo2" value="" placeholder="" title="카드번호 두번째 4자리" class="form-input" />
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="password" name="sCardNo" id="sCardNo3" value="" placeholder="" title="카드번호 세변째 4자리" class="input secret">
													&lt;span class="form-split">-&lt;/span>
													&lt;input type="password" name="sCardNo" id="sCardNo4" value="" placeholder="" title="카드번호 네번째 4자리" class="input secret">
												&lt;/div>
											&lt;/div>
										&lt;/div>
									&lt;/div>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/*-------------------------------------------------------------------
										## Form Custom
									-------------------------------------------------------------------*/
									/* Gutter */
									.form-controls .row + .row {margin-top:5px;}
									.form-controls .static {margin-right:8px;}
									.form-controls .style-1 {margin-left:8px;}

									/* Types */
									.form-controls.type-email2 .select {width:47%;} /* 이메일 */
									.form-controls.type-telNo .select,
									.form-controls.type-telNo .input {width:calc(33.333% - 16px);}
									.form-controls.type-email1 .input {width:calc(50% - 12px);}
									.form-controls.type-email2 .select,
									.form-controls.type-email2 .input {width:calc(50% - 12px);}
									.form-controls.type-email3 .select {width:calc(33% - 9px); margin-left:6px;}
									.form-controls.type-email3 .input {width:calc(33% - 9px);}
									.form-controls.type-socialNo .input {width:calc(50% - 12px);}
									.form-controls.type-globalNo .input {width:calc(50% - 12px);}
									.form-controls.type-corpNo .input {width:calc(50% - 12px);}
									.form-controls.type-bizNo .input {width:calc(33.333% - 16px);}
									.form-controls.type-cardNo .input {width:calc(25% - 18px);}
									.form-controls.type-address {flex-direction:column;}
									.form-controls.type-address .row {display:flex;}
									.form-controls.type-address .row .input {flex-grow:1; width:1px;}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->
			</div>
		</article>
		<!-- //Content -->

		<script>include.quick.init()</script>
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>