<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<script src="../../_wsg/js/wsg_include.js"></script>
<script>include.meta()</script>
<script>include.head()</script>
<script type="text/javascript">
<!--
	function fileAttach(obj){
		var $this = $(obj).closest('.form-file');
		$this.find('[type=file]').trigger('click');
		$this.find('[type=file]').not('.is-evented').on('change', function(){
			var value = $(this).val();
			$this.find('[type=text]').val(value);
		}).addClass('is-evented');
	}

jQuery(document).keydown(function(e){
	if(e.keyCode === 37 || e.keyCode === 38 || e.keyCode === 39 || e.keyCode === 40) {
		e.preventDefault();
	}
});
//-->
</script>
</head>
<body>
<div id="g-wrapper">
	<script>include.header()</script>
	<div id="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article id="g-content">
			<div class="g-content-header">
				<h1 class="g-h1">Form</h1>
				<p class="g-explain-h1">Library Elements</p>
			</div>
			<div class="g-content-body">
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Default</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">Markup Codeview</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">API</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
									<a href="javascript:;" class="g-example-btn">SCSS</a>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									<!-- Constrols -->
									.form-input		: 폼 컨트롤 인풋
									.form-select	: 폼 컨트롤 셀렉트
									.form-check		: 폼 컨트롤 체크박스
									.form-radio		: 폼 컨트롤 라디오
									.form-switch	: 폼 컨트롤 스위치
									.form-file		: 폼 컨트롤 파일

									<!-- Texts -->
									.form-label		: 폼 텍스트 레이블
									.form-text		: 폼 텍스트 기본
									.form-desc		: 폼 텍스트 기술설명
									.form-alert		: 폼 텍스트 경고메시지
									.form-info		: 폼 텍스트 관련정보안내
									.form-split		: 폼 텍스트 구분기호
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    /*-------------------------------------------------------------------
										## Form
									-------------------------------------------------------------------*/
									/* Default */
									input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#999;}/* IE 10 + */
									input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#999;}/* Webkit Browser */
									input:-moz-placeholder, textarea:-moz-placeholder {color:#999;}/* Mozilla Firefox 4 to 18 */
									input::-moz-placeholder, textarea::-moz-placeholder {color:#999;}/* Mozilla Firefox 19+ */
									input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color:transparent;}/* IE 10 + */
									input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color:transparent;}/* Webkit Browser */
									input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color:transparent;}/* Mozilla Firefox 4 to 18 */
									input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color:transparent;}/* Mozilla Firefox 19+ */
									input {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border:0px; vertical-align:middle;}
									textarea {width:100%; vertical-align:middle; resize:none;}
									select {appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
									select::-ms-expand {display:none;}
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    /*-------------------------------------------------------------------
                                        ## Variables
                                    -------------------------------------------------------------------*/
                                    $color-primary: #2496ee;
                                    @mixin ui-input-outlined {
                                        height:45px; padding:0 15px; border:1px solid #ddd; border-radius:3px; box-shadow:1px 1px 2px 0px rgba(200,200,200,0.3); font-size: 14px; line-height: 1.5; transition:all 0.3s;
                                        &:hover {border-color: #222;}
                                        &:focus {border-color: $color-primary; color: $color-primary;}
                                        &:disabled {background-color: #fafafa; opacity: 0.75;}
                                        &:disabled:hover {border-color: #999; opacity: 0.75;}
                                    }
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Form Controls</h2>
					</div>
					<div class="g-section-body">
						<h3 class="g-h3">Textfeild</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">.input</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<input type="text" name="sText1" id="" value="" placeholder="Placeholder" class="form-input" />
									<input type="text" name="sText1" id="" value="Valued" placeholder="Placeholder" title="제목" class="form-input" />
									<input type="text" name="sText1" id="" value="" placeholder="Readonly" title="제목" class="form-input" readonly />
									<input type="text" name="sText1" id="" value="" placeholder="Disabled" title="제목" class="form-input" disabled />
									<br /><br />
									<textarea rows="3" cols="50" class="form-input" placeholder=""></textarea>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									<input type="text" name="sText1" id="" value="" placeholder="Placeholder" class="form-input" />
									<input type="text" name="sText1" id="" value="Valued" placeholder="Placeholder" title="제목" class="form-input" />
									<input type="text" name="sText1" id="" value="" placeholder="Readonly" title="제목" class="form-input" readonly />
									<input type="text" name="sText1" id="" value="" placeholder="Disabled" title="제목" class="form-input" disabled />
									<textarea rows="3" cols="50" class="form-input"></textarea>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/* Form Textfield */
									.form-input {@include ui-input-outlined;}
                                    textarea.form-input {@include ui-input-outlined; height:auto; padding-top:10px; padding-bottom:10px;}
								</pre>
							</div>
						</div>

						<h3 class="g-h3">Select</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<select name="sSelect1" id="sSelect1" class="form-select">
										<option value="">콤보상자 목록선택</option>
									</select>
									<select name="sSelect1" id="sSelect1" class="form-select" disabled>
										<option value="">Disabled</option>
									</select>
									<select name="sSelect1" id="sSelect1" class="form-select" readonly>
										<option value="">Readonly</option>
									</select>
                                    <br>
									<button type="button" class="form-select" aria-haspopup="true" aria-expanded="false">버튼타입 팝업선택</button>
									<button type="button" class="form-select" aria-haspopup="true" aria-expanded="false" disabled>Disabled</button>
									<button type="button" class="form-select" aria-haspopup="true" aria-expanded="false" readonly>Readonly</button>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									<select name="sSelect1" id="sSelect1" class="form-select">
										<option value="">콤보상자 목록선택</option>
									</select>
									<select name="sSelect1" id="sSelect1" class="form-select" disabled>
										<option value="">Disabled</option>
									</select>
									<select name="sSelect1" id="sSelect1" class="form-select" readonly>
										<option value="">Readonly</option>
									</select>
                                    <br>
									<button type="button" class="form-select" aria-haspopup="true" aria-expanded="false">버튼타입 팝업선택</button>
									<button type="button" class="form-select" aria-haspopup="true" aria-expanded="false" disabled>Disabled</button>
									<button type="button" class="form-select" aria-haspopup="true" aria-expanded="false" readonly>Readonly</button>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    /* Form Select */
                                    .form-select {@include ui-input-outlined; padding-right:45px; background:url('../img/cmn/arw_select01.png') no-repeat calc(100% - 15px) center;}
								</pre>
							</div>
						</div>

						<h3 class="g-h3">Radio</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">.form-radio</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<!-- Form radio -->
									<span class="form-radio">
										<input type="radio" name="sRadio10" id="sRadio11" value="" />
										<label for="sRadio11"><span class="blind">Hidden</span></label>
									</span>
									<span class="form-radio">
										<input type="radio" name="sRadio11" id="sRadio12" value="" />
										<label for="sRadio12"><span>Radio1</span></label>
									</span>
									<span class="form-radio">
										<input type="radio" name="sRadio11" id="sRadio13" value="" checked />
										<label for="sRadio13"><span>Radio2</span></label>
									</span>
									<span class="form-radio">
										<input type="radio" name="sRadio12" id="sRadio14" value="" disabled />
										<label for="sRadio14"><span>disabled</span></label>
									</span>
									<span class="form-radio">
										<input type="radio" name="sRadio12" id="sRadio15" value="" checked disabled />
										<label for="sRadio15"><span>disabled</span></label>
									</span>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									&lt;span class="form-radio">
										&lt;input type="radio" name="sRadio10" id="sRadio11" value="" />
										&lt;label for="sRadio11">&lt;span class="blind">Hidden&lt;/span>&lt;/label>
									&lt;/span>
									&lt;span class="form-radio">
										&lt;input type="radio" name="sRadio11" id="sRadio12" value="" />
										&lt;label for="sRadio12">&lt;span>Label1&lt;/span>&lt;/label>
									&lt;/span>
									&lt;span class="form-radio">
										&lt;input type="radio" name="sRadio11" id="sRadio13" value="" checked />
										&lt;label for="sRadio13">&lt;span>Label1&lt;/span>&lt;/label>
									&lt;/span>
									&lt;span class="form-radio">
										&lt;input type="radio" name="sRadio12" id="sRadio14" value="" disabled />
										&lt;label for="sRadio14">&lt;span>disabled&lt;/span>&lt;/label>
									&lt;/span>
									&lt;span class="form-radio">
										&lt;input type="radio" name="sRadio12" id="sRadio15" value="" checked disabled />
										&lt;label for="sRadio15">&lt;span>disabled&lt;/span>&lt;/label>
									&lt;/span>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/* Form Radio */
									/* Basic */
									.form-radio {display:inline-block; position:relative; margin:5px 0; line-height:1; vertical-align:middle;}
									.form-radio label {display:inline-block; position:relative; min-width:20px; min-height:20px; font-size:13px; line-height:18px; vertical-align:middle;}
									.form-radio label span {display:inline-block; padding-left:28px; vertical-align:middle;}
									.form-radio label:before, .form-radio label:after {content:''; position:absolute; left:0; top:0;}
									.form-radio label:before {top:0; width:20px; height:20px; border:1px solid #ddd; background:#fff; border-radius:50%;}
									.form-radio > input {display:none; position:absolute; left:0; top:0; width:20px; height:20px;}
									.form-radio + .form-radio {margin-left:10px;}
									/* Checked */
									.form-radio > input:checked + label:before {background-color:#fff; border-color:$color-primary;}
									.form-radio > input:checked + label:after {top:5px; left:5px; width:10px; height:10px; border-radius:50%; background:$color-primary;}
									/* Focused */
									.form-radio > input.is-focused + label:before,
									.form-radio > input:hover + label:before,
									.form-radio > input:focus + label:before {border-color:#888;}
									.form-radio > input:checked:focus + label:before,
									.form-radio > input:checked:hover + label:before {border-color:$color-primary; transition:all 0.3s;}
									/* Disabled */
									.form-radio > input[disabled] + label {color:#999;}
									.form-radio > input[disabled] + label:before {background-color:#f0f0f0;}
									.form-radio > input[disabled]:focus + label:before,
									.form-radio > input[disabled]:hover + label:before {border-color:#ddd;}
									.form-radio > input[disabled]:checked + label:after {background:#888;}
									.form-radio > input[disabled]:checked + label:before,
									.form-radio > input[disabled]:checked:focus + label:before,
									.form-radio > input[disabled]:checked:hover + label:before {border-color:#888;}
								</pre>
							</div>
						</div>

						<h3 class="g-h3">Checkbox</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">.form-checkbox</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<span class="form-checkbox">
										<input type="checkbox" name="sCheck11" id="sCheck11" value="" />
										<label for="sCheck11"><span class="blind">Hidden</span></label>
									</span>
									<span class="form-checkbox">
										<input type="checkbox" name="sCheck12" id="sCheck12" value="" />
										<label for="sCheck12"><span>Checkbox1</span></label>
									</span>
									<span class="form-checkbox">
										<input type="checkbox" name="sCheck12" id="sCheck13" value="" checked />
										<label for="sCheck13"><span>Checkbox2</span></label>
									</span>
									<span class="form-checkbox">
										<input type="checkbox" name="sCheck13" id="sCheck14" value="" disabled />
										<label for="sCheck14"><span>disabled</span></label>
									</span>
									<span class="form-checkbox">
										<input type="checkbox" name="sCheck13" id="sCheck15" value="" checked disabled />
										<label for="sCheck15"><span>disabled</span></label>
									</span>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									<span class="form-checkbox">
										<input type="checkbox" name="sCheck11" id="sCheck11" value="" />
										<label for="sCheck11"><span class="blind">Hidden</span></label>
									</span>
									<span class="form-checkbox">
										<input type="checkbox" name="sCheck12" id="sCheck12" value="" />
										<label for="sCheck12"><span>Checkbox1</span></label>
									</span>
									<span class="form-checkbox">
										<input type="checkbox" name="sCheck12" id="sCheck13" value="" checked />
										<label for="sCheck13"><span>Checkbox2</span></label>
									</span>
									<span class="form-checkbox">
										<input type="checkbox" name="sCheck13" id="sCheck14" value="" disabled />
										<label for="sCheck14"><span>disabled</span></label>
									</span>
									<span class="form-checkbox">
										<input type="checkbox" name="sCheck13" id="sCheck15" value="" checked disabled />
										<label for="sCheck15"><span>disabled</span></label>
									</span>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/* Form Check */
									/* Basic */
									.form-checkbox {display:inline-block; position:relative; margin:5px 0; line-height:1; vertical-align:middle;}
									.form-checkbox label {display:inline-block; position:relative; min-width:20px; min-height:20px; font-size:13px; line-height:20px; vertical-align:middle;}
									.form-checkbox label span {display:inline-block; padding-left:28px;}
									.form-checkbox label:before, .form-checkbox label:after {content:''; position:absolute; left:0; top:0;}
									.form-checkbox label:before {top:0; width:20px; height:20px; border:1px solid #ddd; background:#fff;}
									.form-checkbox > input {display:none; position:absolute; left:0; top:0; width:20px; height:20px;}
									.form-checkbox + .form-checkbox {margin-left:10px;}
									/* Checked */
									.form-checkbox > input:checked + label:before {border-color:$color-primary;}
									.form-checkbox > input:checked + label:after {left:5px; top:5px; width:10px; height:7px; background:none; border-left:2px solid $color-primary; border-bottom:2px solid $color-primary; transform:rotate(-45deg);}
									/* Focused */
									.form-checkbox > input.is-focused + label:before,
									.form-checkbox > input:hover + label:before,
									.form-checkbox > input:focus + label:before {border-color:#888;}
									.form-checkbox > input:checked:focus + label:before,
									.form-checkbox > input:checked:hover + label:before {border-color:$color-primary; transition:all 0.3s;}
									/* Disabled */
									.form-checkbox > input[disabled] + label {color:#999;}
									.form-checkbox > input[disabled] + label:before {background-color:#f0f0f0;}
									.form-checkbox > input[disabled]:focus + label:before,
									.form-checkbox > input[disabled]:hover + label:before {border-color:#ddd;}
									.form-checkbox > input[disabled]:checked + label:after {border-color:#888;}
									.form-checkbox > input[disabled]:checked + label:before,
									.form-checkbox > input[disabled]:checked:focus + label:before,
									.form-checkbox > input[disabled]:checked:hover + label:before {border-color:#888;}
								</pre>
							</div>
						</div>

						<h3 class="g-h3">Swicth</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<span class="form-switch">
										<input type="checkbox" name="sSwitch2" id="sSwitch21" value="" />
										<label for="sSwitch21"></label>
									</span>
									<span class="form-switch">
										<input type="checkbox" name="sSwitch2" id="sSwitch22" value="" checked />
										<label for="sSwitch22"></label>
									</span>
									<span class="form-switch">
										<input type="checkbox" name="sSwitch2" id="sSwitch23" value="" disabled />
										<label for="sSwitch23"></label>
									</span>
									<span class="form-switch">
										<input type="checkbox" name="sSwitch2" id="sSwitch24" value="" checked disabled />
										<label for="sSwitch24"></label>
									</span>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									&lt;span class="form-switch">
										&lt;input type="checkbox" name="sSwitch2" id="sSwitch21" value="" />
										&lt;label for="sSwitch21">&lt;/label>
									&lt;/span>
									&lt;span class="form-switch">
										&lt;input type="checkbox" name="sSwitch2" id="sSwitch22" value="" checked />
										&lt;label for="sSwitch22">&lt;/label>
									&lt;/span>
									&lt;span class="form-switch">
										&lt;input type="checkbox" name="sSwitch2" id="sSwitch23" value="" disabled />
										&lt;label for="sSwitch23">&lt;/label>
									&lt;/span>
									&lt;span class="form-switch">
										&lt;input type="checkbox" name="sSwitch2" id="sSwitch24" value="" checked disabled />
										&lt;label for="sSwitch24">&lt;/label>
									&lt;/span>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									.form-switch + .form-switch {margin-left:10px;}
									.form-switch {display:inline-block; position:relative;}
									.form-switch label {display:inline-block; width:80px; vertical-align:top;}
									.form-switch label:before {content:''; display:inline-block; width:100%; height:30px; background-color:#f0f0f0; border-radius:15px; vertical-align:top; box-shadow:2px 2px 3px -2px inset rgba(100,100,100,0.5);}
									.form-switch input,.form-switch span {position:absolute; left:2px; top:50%; z-index:1; width:40px; height:26px; line-height:26px; text-align:center; border-radius:13px; overflow:hidden; background-color:#aaa; color:#fff; font-size:12px; transform:translateY(-50%); transition:all 0.3s;}
									.form-switch input {z-index:0; border:0;}
									.form-switch input:checked,.form-switch input:checked + label span {left:calc(100% - 42px);}
									.form-switch input:checked + label span {background-color:$color-primary;}
									.form-switch input + label span:before {content:'OFF';}
									.form-switch input:checked + label span:before {content:'ON';}
									.form-switch input[disabled] + label:before {background-color:#ddd;}
								</pre>
							</div>
						</div>

						<h3 class="g-h3">File</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
									<a href="javascript:;" class="g-example-btn">SCRIPT</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<!-- Form Attach Files -->
									<p>파일첨부</p>
									<br />
									<div class="form-file">
										<input type="text" class="form-input" title="첨부된 파일명" />
										<label for="sFile" class="button form-button" role="button" tabindex="0">
											<span>파일첨부</span>
											<input type="file" name="" id="sFile" value="" placeholder="" title="" class="file-hide" tabindex="-1" aria-hidden="true" onchange="ui.fileAttach(this, event);">
										</label>
									</div>
									<br /><br /><br />
									<p>이미지 미리보기</p>
									<br />
									<div class="form-file">
										<div class="file-preview"></div>
										<label for="sFile2" class="button form-button" role="button" tabindex="0">
											<span>파일첨부</span>
											<input type="file" name="" id="sFile2" value="" placeholder="" title="" class="file-hide" tabindex="-1" aria-hidden="true" onchange="ui.fileAttach(this, event);">
										</label>
									</div>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
                                    <!-- 파일첨부 -->
									&lt;span class="form-file">
										&lt;input type="file" name="sFiles1" id="sFiles1" value="찾아보기" tabindex="-1" aria-hidden="true"/>
										&lt;input type="text" class="form-input" title="첨부된 파일명" />
										&lt;button type="button" class="button form-button" onclick="fileAttach(this)">&lt;span>파일첨부&lt;/span>&lt;/button>
									&lt;/span>

                                    <!-- 이미지 미리보기 -->
									<div class="form-file">
										<div class="file-preview"></div>
										<label for="sFile2" class="button form-button" role="button" tabindex="0">
											<span>파일첨부</span>
											<input type="file" name="" id="sFile2" value="" placeholder="" title="" class="file-hide" tabindex="-1" aria-hidden="true" onchange="ui.fileAttach(this, event);">
										</label>
									</div>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/* Form File */
                                    .form-file {position:relative; display:inline-block;}
                                    .form-file input[type="file"] {position:absolute; width:0; height:0; overflow:hidden;}
                                    .form-file .file-hide {position:absolute; width:0; height:0; overflow:hidden;}
                                    .form-file .file-preview {position:relative; display:flex; justify-content:center; align-items:center; overflow:hidden; width:264px; height:124px; border:1px solid #e1e1e1;}
                                    .form-file .file-preview img {position:absolute; left:50%; top:50%; max-width:100%; transform:translate(-50%, -50%);}
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:js">
                                    fileAttach: function(obj, e){
                                        // 파일첨부 - 파일명적용
                                        var sel_files = [];
                                        var $eleFormText = $(obj).closest('.form-file').find('input[type=text]');
                                        var $eleFormImg = $(obj).closest('.form-file').find('.file-preview');

                                        var action = function(){
                                            //파일명 적용
                                            if ($eleFormText.length){
                                                var fileValue = $(obj).val().split("\\");
                                                var fileName = fileValue[fileValue.length-1];
                                                $eleFormText.val(fileName);
                                            }

                                            //이미지 미리보기
                                            if ($eleFormImg.length){
                                                var files = e.target.files;
                                                var filesArr = Array.prototype.slice.call(files);

                                                filesArr.forEach(function(f){
                                                    if (!f.type.match("image.*")){
                                                        alert('확장자는 이미지 확장자만 가능합니다.');
                                                        return;
                                                    }
                                                    sel_files.push(f);

                                                    var reader = new FileReader();
                                                    reader.onload = function(e){
                                                        var eleImg = '<img src="'+e.target.result+'" alt="첨부된파일">';
                                                        $eleFormImg.html(eleImg);
                                                    }
                                                    reader.readAsDataURL(f);
                                                })
                                            }
                                        }
                                        action();
                                    },
								</pre>
							</div>
							<div class="g-example-guide" hidden>
								<h5 class="g-h5">설계가이드</h5>
								<ul class="g-desc">
									<li>묵시적인 방법(label 에 checkbox, radio 포함)은 일부 스크린리더에서 해당 마크업을 제대로 읽지 못하므로</li>
									<li>명시적인 방법(input id 와 label for 연결)으로 사용하는 것을 권장합니다.</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Form Texts</h2>
					</div>
					<div class="g-section-body">
						<h3 class="g-h3">기본 유형</h3>
						<h4 class="g-h4">제목, 일반, 데이터</h4>
						<div class="g-example-wrap">
							<div id="tabContentCode1-1" class="g-example-footer is-active">
								<pre class="brush:html">
									&lt;!-- Form Label (라벨 텍스트) -->
                                    <label for="textLabel" class="form-label">학교명</label>

									&lt;!-- Form Rquired (라벨 텍스트) -->
                                    <label for="textLabel" class="form-label">학교명</label>

                                    &lt;!-- Form Text (기본 텍스트) -->
                                    <span class="form-text">고등학교</span>

                                    &lt;!-- Form Data (데이터 텍스트) -->
                                    <p class="form-data">입력된 제목입니다.</p>
                                </pre>
							</div>
						</div>

						<h3 class="g-h3">안내 유형</h3>
						<h4 class="g-h4">기술설명, 관련정보, 경고</h4>
						<div class="g-example-wrap">
							<div id="tabContentCode1-1" class="g-example-footer is-active">
								<pre class="brush:html">
									&lt;!-- Form Description (기술설명 안내) -->
									&lt;div class="form-desc">
										&lt;p>비밀번호는 특수문자, 영어 조합의 8자 이상이어야 합니다.&lt;/p>
									&lt;/div>

									&lt;!-- Form Information (관련정보 안내) -->
									&lt;div class="form-info">
										&lt;p>참고자료 : 기술과학교육원&lt;/p>
									&lt;/div>

									&lt;!-- Form Alert (경고 안내) -->
									&lt;div class="form-alert is-errored is-visibled">
										&lt;p>비밀번호는 특수문자, 영어 조합의 8자 이상이어야 합니다.&lt;/p>
									&lt;/div>
								</pre>
							</div>
						</div>

						<h3 class="g-h3">구분 유형</h3>
						<h4 class="g-h4">이메일, 주민번호, 기간</h4>
						<div class="g-example-wrap">
							<div id="tabContentCode1-1" class="g-example-footer is-active">
								<pre class="brush:html">
									&lt;!-- Form Split (이메일 구분) -->
									&lt;i class="form-split">@&lt;/i>

									&lt;!-- Form Split (주민번호 구분) -->
									&lt;i class="form-split">-&lt;/i>

									&lt;!-- Form Split (기간 구분) -->
									&lt;i class="form-split">~&lt;/i>
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->
			</div>
		</article>
		<!-- //Content -->

		<script>include.quick.init()</script>
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>