<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<script src="../../_wsg/js/wsg_include.js"></script>
<script>include.meta()</script>
<script>include.head()</script>
</head>
<body>
<div id="g-wrapper">
	<script>include.header()</script>
	<div id="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article id="g-content">
			<div class="g-content-header">
				<h1 class="g-h1">Sticky</h1>
				<p class="g-explain-h1">Library Modules</p>
			</div>
			<div class="g-content-body">
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Sticky Fixed</h2>
					</div>
					<div class="g-section-body">
					<h3 class="g-h3">Basic</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<iframe src="sticky/std_stickyFixed_basic.html" style="height:200px; border:1px solid #ddd" frameborder="0"></iframe>
									<br /><br />
									<a href="sticky/std_stickyFixed_basic.html" target="_blank" title="새창">[Sticky 새창열기]</a>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									<header class="header sticky-fixed"></header>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/* Common - Fixed */
									.sticky-fixed {position:fixed;}
								</pre>
							</div>
						</div>

						<h3 class="g-h3">Transition</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">CSS</a>
									<a href="javascript:;" class="g-example-btn">SCRIPT</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<iframe src="sticky/std_stickyFixed_transition.html" style="height:200px; border:1px solid #ddd" frameborder="0"></iframe>
									<br /><br />
									<a href="sticky/std_stickyFixed_transition.html" target="_blank" title="새창">[Sticky 새창열기]</a>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/* Header Sticky */
									.header.sticky-fixed {transition:height 0.3s ease;}
									.is-scrolled .header.sticky-fixed {height:50px;}
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:js">
									stickyFixed: {
										init: function(){
											this.action();
											this.event();
										},
										event: function(){
											var setTime;
											$(window).on('scroll', function(){
												clearTimeout(setTime);
												setTime = setTimeout(function(){ ui.stickyFixed.action(); }, 50);
											})
										},
										action: function(){
											var scrTop = $(window).scrollTop();
											if (scrTop > 0){ $('body').addClass('is-scrolled') }
											else { $('body').removeClass('is-scrolled') }
										}
									}
								</pre>
							</div>
						</div>

						<h3 class="g-h3">Direction</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">SCRIPT</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<iframe src="sticky/std_stickyFixed_direction.html" style="height:200px; border:1px solid #ddd" frameborder="0"></iframe>
									<br /><br />
									<a href="sticky/std_stickyFixed_direction.html" target="_blank" title="새창">[Sticky 새창열기]</a>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:js">
									stickyFixed: {
										direction: true,
										scrOld: 0,
										init: function(){
											this.action();
											this.event();
										},
										event: function(){
											var setTime;
											$(window).on('scroll', function(){
												clearTimeout(setTime);
												setTime = setTimeout(function(){ ui.stickyFixed.action(); }, 100);
											})
										},
										action: function(){
											var scrTop = $(window).scrollTop();
											if (this.scrOld < scrTop){ $('body').addClass('is-scrolled') }
											else if (this.scrOld > scrTop){ $('body').removeClass('is-scrolled') }
											this.scrOld = scrTop;
										}
									}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Sticky Scroll</h2>
					</div>
					<div class="g-section-body">
						<h3 class="g-h3">Single Sticky</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
									<a href="javascript:;" class="g-example-btn">SCRIPT</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<iframe src="sticky/std_stickyScroll_single.html" style="height:200px; border:1px solid #ddd" frameborder="0"></iframe>
									<br /><br />
									<a href="sticky/std_stickyScroll_single.html" target="_blank" title="새창">[Sticky 새창열기]</a>
								</div>
							</div>
							<div class="g-example-footer is-active">
								<pre class="brush:html">
									&lt;div class="sticky-scroll-area">
										&lt;div class="tab-nav tab-basic sticky-scroll">&lt;/div>
										&lt;div class="sticky-scroll-after">&lt;/div>
									&lt;/div>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/* Common - Scroll */
									.sticky-scroll-area {position:relative;}
									.sticky-scroll {position:absolute; left:0; top:0; width:100%;}
									.sticky-scroll.is-fixed {position:fixed;}
									.sticky-scroll-after {display:block;}

									/* UI - Sticky */
									.tab-basic.sticky-scroll + .sticky-scroll-after {display:block; height:35px;}
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:js">
									var ui = {
										init: function(){
											if ($('.tab-nav.sticky-scroll').length){ ui.stickyScroll.init() }
										},
										stickyScroll: {
											eleModule: '.sticky-scroll',
											eleWrapper: '.sticky-scroll-area',
											init: function(){
												this.action();
												this.event();
											},
											event: function(){
												$(window).on('scroll', function(){
													ui.stickyScroll.action();
												})
											},
											action: function(){
												var _this = this;
												$(this.eleModule).each(function(){
													var objTop = $(this).closest(_this.eleWrapper).offset().top;
													var scrTop = $(window).scrollTop();
													if (scrTop >= objTop){ $(this).addClass('is-fixed') }
													else { $(this).removeClass('is-fixed') }
												})
											}
										}
									}
									$(document).ready(function(){
										ui.init();
									})
								</pre>
							</div>
						</div>

						<h3 class="g-h3">Multi Sticky</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
									<a href="javascript:;" class="g-example-btn">SCRIPT</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<iframe src="sticky/std_stickyScroll_multi.html" style="height:200px; border:1px solid #ddd" frameborder="0"></iframe>
									<br /><br />
									<a href="sticky/std_stickyScroll_multi.html" target="_blank" title="새창">[Sticky 새창열기]</a>
								</div>
							</div>
							<div class="g-example-footer is-active">
								<pre class="brush:html">
									&lt;div class="sticky-scroll-area">
										&lt;div class="tab-nav tab-basic sticky-scroll">&lt;/div>
										&lt;div class="sticky-scroll-after">&lt;/div>
									&lt;/div>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/* Common - Scroll */
									.sticky-scroll-area {position:relative;}
									.sticky-scroll {position:absolute; left:0; top:0; width:100%;}
									.sticky-scroll.is-fixed {position:fixed;}
									.sticky-scroll-after {display:block;}

									/* UI - Sticky */
									.tab-basic.sticky-scroll + .sticky-scroll-after {display:block; height:35px;}
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:js">
									var ui = {
										init: function(){
											if ($('.tab-nav.sticky-scroll').length){ ui.stickyScroll.init() }
										},
										stickyScroll: {
											eleModule: '.sticky-scroll',
											eleWrapper: '.sticky-scroll-area',
											init: function(){
												this.action();
												this.event();
											},
											event: function(){
												$(window).on('scroll', function(){
													ui.stickyScroll.action();
												})
											},
											action: function(){
												var _this = this;
												$(this.eleModule).each(function(){
													var $eleModule = $(this);
													var objTop = $eleModule.closest(_this.eleWrapper).offset().top;
													var scrTop = $(window).scrollTop();

													//기존 StickyFixed 가 있는 경우
													var fixedH;
													$('.sticky-fixed').each(function(){
														fixedH = $(this).outerHeight();
														objTop = objTop - fixedH;
													})

													if (scrTop >= objTop){ $eleModule.addClass('is-fixed'); $eleModule.css({top: fixedH}); }
													else { $eleModule.removeClass('is-fixed'); $eleModule.css({top: 0}); }

													console.log(objTop, scrTop);
												})
											}
										}
									}
									$(document).ready(function(){
										ui.init();
									})
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- section1 -->
				<section id="section1" class="g-section">
					<div class="g-section-header">
						<h2 class="g-h2">Sticky Floating</h2>
					</div>
					<div class="g-section-body">
						<h3 class="g-h3">Basic</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="#none" class="g-example-btn">HTML</a>
									<a href="#none" class="g-example-btn">CSS</a>
									<a href="#none" class="g-example-btn">SCRIPT</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<!-- 마크업뷰영역 -->
									<iframe src="sticky/std_stickyFloat_basic.html" style="height:400px; border:1px solid #ddd" frameborder="0"></iframe>
									<br /><br />
									<a href="sticky/std_stickyFloat_basic.html" target="_blank" title="새창">[Sticky 새창열기]</a>
									<!-- //마크업뷰영역 -->
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									&lt;div class="pageTop sticky-float">&lt;/div>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									.pageTop {position:absolute; right:20px; top:calc(100% - 70px);}
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:js">
									stickyFloat: {
										eleModule: '.sticky-float',
										init: function(){
											this.action();
											this.event();
										},
										event: function(){
											var setTime;
											$(window).on('scroll', function(){
												clearTimeout(setTime);
												setTime = setTimeout(function(){ ui.stickyFloat.action(); }, 100);
											})
										},
										action: function(){
											var scrTop = $(window).scrollTop() - $(document).height() + $(window).outerHeight();
											TweenMax.to($(this.eleModule), 0.5, {y: scrTop, ease: Power2.easeOut})
										}
									}
								</pre>
							</div>
						</div>

						<h3 class="g-h3">Limit</h3>
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="#none" class="g-example-btn">SCRIPT</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<!-- 마크업뷰영역 -->
									<iframe src="sticky/std_stickyFloat_limit.html" style="height:400px; border:1px solid #ddd" frameborder="0"></iframe>
									<br /><br />
									<a href="sticky/std_stickyFloat_limit.html" target="_blank" title="새창">[Sticky 새창열기]</a>
									<!-- //마크업뷰영역 -->
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:js">
									stickyFloat: {
										eleModule: '.sticky-float',
										init: function(){
											this.action();
											this.event();
										},
										event: function(){
											var setTime;
											$(window).on('scroll', function(){
												clearTimeout(setTime);
												setTime = setTimeout(function(){ ui.stickyFloat.action(); }, 100);
											})
										},
										action: function(){
											var scrTop = $(window).scrollTop() - $(document).height() + $(window).outerHeight() + 70;

											// Footer가 보이는 경우
											var footerTop = $('.footer').offset().top;
											if (footerTop <= $(window).scrollTop() + $(window).height()){ scrTop = 0; }
											TweenMax.to($(this.eleModule), 0.5, {y: scrTop, ease: Power2.easeOut});
										}
									}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //section1 -->
			</div>
		</article>
		<!-- //Content -->

		<script>include.quick.init()</script>
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>