<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<script src="../../_wsg/js/wsg_include.js"></script>
<script>include.meta()</script>
<script>include.head()</script>
</head>
<body>
<div id="g-wrapper">
	<script>include.header()</script>
	<div id="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article id="g-content">
			<div class="g-content-header">
				<h1 class="g-h1">Badge</h1>
				<p class="g-explain-h1">Library Elements</p>
			</div>
			<div class="g-content-body">
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Default</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">Markup Codeview</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn is-active">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-footer is-active">
								<pre class="brush:html">
									<span class="badge"></span>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/*-------------------------------------------------------------------
										## Badge
									-------------------------------------------------------------------*/
									/* Default */
									.badge {display:inline-block; vertical-align: middle;}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Styles</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn is-active">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<!-- 마크업뷰영역 -->
                                <span class="badge style-1"><span class="blind">NEW</span></span>
                                <span class="badge style-2">9</span>
                                <span class="badge style-2">999</span>
                                <span class="badge style-2">999999</span>
								<!-- //마크업뷰영역 -->
							</div>
							<div class="g-example-footer is-active">
								<pre class="brush:html">
                                    <span class="badge style-1"><span class="blind">NEW</span></span>
                                    <span class="badge style-2">9</span>
                                    <span class="badge style-2">999</span>
                                    <span class="badge style-2">999999</span>
                                </pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    /* Styles */
                                    .badge.style-1 {width:6px; height:6px; background-color: $color-primary; border-radius: 50%;}
                                    .badge.style-2 {min-width:13px; max-width:50px; padding:3px 6px; background-color: $color-primary; border-radius: 10px; color:#fff; font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
                                </pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->
			</div>
		</article>
		<!-- //Content -->

		<script>include.quick.init()</script>
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>