<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<script src="../../wsg/js/wsg_include.js"></script>
<script>include.meta()</script>
<script>include.head()</script>
</head>
<body>
<div id="g-wrapper">
	<script>include.header()</script>
	<div id="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article id="g-content">
			<div class="g-content-header">
				<h1 class="g-h1">Button</h1>
				<p class="g-explain-h1">Library Elements</p>
			</div>
			<div class="g-content-body">
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Default</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">Markup Codeview</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn is-active">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-footer is-active">
								<pre class="brush:html">
									<button type="button" class="button">Text Button</button>
									<button type="button" class="button"><i class="icon">Icon Button</i></button>

									<a href="javascript:;" class="button">Text Button</a>
									<a href="javascript:;" class="button"><i class="icon">Icon Button</i></a>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/*-------------------------------------------------------------------
										## Button
									-------------------------------------------------------------------*/
									/* Default */
									button {overflow:hidden; padding:0px; border:0px; font-weight:normal; background-color:transparent; cursor:pointer;}
									button::-moz-focus-inner {border:0px; padding:0px;}
									.button-area {display:flex;}
									.button-group {display:flex; flex:none;}
									.button,
									.button-ico {display:inline-flex; position:relative; overflow:hidden; vertical-align:middle;}
									.button > span,
									.button-ico > span {position:relative; z-index:1; display:inline-flex; flex:none; justify-content:center; align-items:center; height:100%; width:100%;}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Styles</h2>
					</div>
					<div class="g-section-body">
                        <div class="g-example-wrap">
                            <div class="g-example-header">
								<strong class="g-example-tit">Markup Codeview</strong>
								<div class="g-example-nav">
                                    <span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
                                <div class="g-example-preview">
                                    <h3 class="g-h3">Flat Contained</h3>
                                    <button type="button" class="button style-1">Defalt</button>
									<button type="button" class="button style-1 primary">Primary</button>
									<button type="button" class="button style-1" disabled>Disabled</button>
									<button type="button" class="button style-1 primary" disabled>Primary</button>

                                    <h3 class="g-h3">Flat Outlined</h3>
									<button type="button" class="button style-2">Defalt</button>
									<button type="button" class="button style-2 primary">Primary</button>
									<button type="button" class="button style-2" disabled>Disabled</button>
									<button type="button" class="button style-2 primary" disabled>Primary</button>

                                    <h3 class="g-h3">Round Contained</h3>
									<button type="button" class="button style-3">Defalt</button>
									<button type="button" class="button style-3 primary">Primary</button>
									<button type="button" class="button style-3" disabled>Disabled</button>
									<button type="button" class="button style-3 primary" disabled>Primary</button>

                                    <h3 class="g-h3">Round Outlined</h3>
									<button type="button" class="button style-4">Defalt</button>
									<button type="button" class="button style-4 primary">Primary</button>
									<button type="button" class="button style-4" disabled>Disabled</button>
									<button type="button" class="button style-4 primary" disabled>Primary</button>

                                    <h3 class="g-h3">Pill Contained</h3>
									<button type="button" class="button style-5">Defalt</button>
									<button type="button" class="button style-5 primary">Primary</button>
									<button type="button" class="button style-5" disabled>Disabled</button>
									<button type="button" class="button style-5 primary" disabled>Primary</button>

                                    <h3 class="g-h3">Pill Outlined</h3>
									<button type="button" class="button style-6">Defalt</button>
									<button type="button" class="button style-6 primary">Primary</button>
									<button type="button" class="button style-6" disabled>Disabled</button>
									<button type="button" class="button style-6 primary" disabled>Primary</button>

                                    <h3 class="g-h3">Texted</h3>
									<button type="button" class="button text">Defalt</button>
									<button type="button" class="button text primary">Primary</button>
									<button type="button" class="button text" disabled>Disabled</button>
									<button type="button" class="button text primary" disabled>Primary</button>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
                                    <!-- Styles -->
									<button type="button" class="button style-1">Flat Contained</button>
									<button type="button" class="button style-2">Flat Outlined</button>
                                    <button type="button" class="button style-3">Round Contained</button>
                                    <button type="button" class="button style-4">Round Outlined</button>
                                    <button type="button" class="button style-5">Pill Contained</button>
                                    <button type="button" class="button style-6">Pill Outlined</button>

                                    <!-- Optionals -->
									<button type="button" class="button style-1">Flat Contained</button>
									<button type="button" class="button style-1 primary">Primary</button>
									<button type="button" class="button style-1" disabled>Disabled</button>
									<button type="button" class="button style-1 primary" disabled>Primary</button>

                                    <!-- Texted -->
                                    <button type="button" class="button text">Texted</button>
                                    <button type="button" class="button text primary">Primary</button>
                                    <button type="button" class="button text" disabled>Disabled</button>
                                    <button type="button" class="button text primary" disabled>Primary</button>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    // Rounded
                                    @mixin rounded-xxl {border-radius:8px;}
                                    @mixin pilled {border-radius: 100px;}

                                    // Buttons
                                    @mixin ui-button-contained {
                                        padding:8px 16px; background-color:#eee; color: #222; font-size: 14px; line-height: 22px; transition:all 0.3s;
                                        &:hover, &:focus {background-color:#ddd; color: #000;}
                                        &:disabled {opacity: 0.5;}
                                        &.primary {background:$color-primary; color:#fff;}
                                        &.primary:hover, &.primary:focus {background:$color-primary-dark;}
                                    }
                                    @mixin ui-button-outlined {
                                        padding:8px 16px; background-color:#fff; border:1px solid #ddd; color: #222; font-size: 14px; line-height: 22px; transition:all 0.3s;
                                        &:hover, &:focus {border-color: #222; color: #000;}
                                        &:disabled {opacity: 0.5;}
                                        &.primary {border-color: $color-primary; color: $color-primary;}
                                        &.primary:hover, &.primary:focus {border-color:$color-primary-dark;}
                                    }
                                    @mixin ui-button-texted {
                                        &.text {font-size:14px; line-height: 22px;}
                                        &.text:disabled {opacity: 0.5;}
                                        &.text.primary {color:$color-primary;}
                                    }

                                    /* Styles */
                                    .button.style-1 {@include ui-button-contained;}
                                    .button.style-2 {@include ui-button-outlined;}
                                    .button.style-3 {@include ui-button-contained; border-radius:4px;}
                                    .button.style-4 {@include ui-button-outlined; border-radius:4px;}
                                    .button.style-5 {@include ui-button-contained; border-radius:30px;}
                                    .button.style-6 {@include ui-button-outlined; border-radius:30px;}
                                    .button.text {@include ui-button-texted;}
                                </pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->
			</div>
		</article>
		<!-- //Content -->

		<script>include.quick.init()</script>
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>