<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<script src="../../wsg/js/wsg_include.js"></script>
<script>include.meta()</script>
<script>include.head()</script>
</head>
<body>
<div id="g-wrapper">
	<script>include.header()</script>
	<div id="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article id="g-content">
			<div class="g-content-header">
				<h1 class="g-h1">Images</h1>
				<p class="g-explain-h1">Library Elements</p>
			</div>
			<div class="g-content-body">
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Images Cover</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn is-active">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<!-- 마크업뷰영역 -->
                                <h3 class="g-h3">Thumbnail</h3>
                                <div class="thumb" style="width: 160px; height:100px;">
                                    <img src="http://placeimg.com/160/100/nature" alt="Thumbnail" class="img-cover" />
                                </div>

                                <h3 class="g-h3">Avata</h3>
                                <div class="avata" style="width: 60px; height:60px;">
                                    <img src="http://placeimg.com/160/160/animal" alt="Avata" class="img-cover" />
                                </div>

                                <h3 class="g-h3">Banners</h3>
                                <a href="javascript:void(0)" class="banner" style="width: 100%; height:160px;">
                                    <img src="http://placeimg.com/860/160/animals" alt="Banner" class="img-cover" />
                                </a>
								<!-- //마크업뷰영역 -->
							</div>
							<div class="g-example-footer is-active">
								<pre class="brush:html">
                                    <div class="thumb">
                                        <img src="http://placeimg.com/240/160/nature" alt="" class="img-cover" />
                                    </div>
                                </pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/* Styles */
									.badge-basic {width:24px; height:24px; padding-bottom:1px; line-height:21px; border:1px solid transparent; background-color:#333; color:#fff; text-align:center;}
									.badge-basic.badge-outline {color:#333; border-color:#333; background-color:#fff;}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->
			</div>
		</article>
		<!-- //Content -->

		<script>include.quick.init()</script>
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>