<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<script src="../../wsg/js/wsg_include.js"></script>
<script>include.meta()</script>
<script>include.head()</script>
</head>
<body>
<div id="g-wrapper">
	<script>include.header()</script>
	<div id="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article id="g-content">
			<div class="g-content-header">
				<h1 class="g-h1">List</h1>
				<p class="g-explain-h1">마크업뷰중심 + 일부컨텐츠 </p>
			</div>
			<div class="g-content-body">
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Default</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">Markup Codeview</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn is-active">HTML</a>
								</div>
							</div>
							<div class="g-example-footer is-active">
								<pre class="brush:html">
                                    <!-- list -->
                                    <ul class="list">
                                        <li class="item"></li>
                                    </ul>
                                    <!-- //list -->
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Styles</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
                                    <h3 class="g-h3">Outlined Bolded</h3>
                                    <ul class="list style-1">
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                    </ul>
                                    <h3 class="g-h3">Centered Lines</h3>
                                    <ul class="list style-2">
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                    </ul>
                                    <h3 class="g-h3">Inner Lined</h3>
                                    <ul class="list style-3">
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                    </ul>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
                                    <h3 class="g-h3">Style 1</h3>
                                    <ul class="list style-1">
                                        <li class="item"></li>
                                        <li class="item"></li>
                                        <li class="item"></li>
                                    </ul>
                                    <h3 class="g-h3">Style 2</h3>
                                    <ul class="list style-2">
                                        <li class="item"></li>
                                        <li class="item"></li>
                                        <li class="item"></li>
                                    </ul>
                                    <h3 class="g-h3">Style 3</h3>
                                    <ul class="list style-3">
                                        <li class="item"></li>
                                        <li class="item"></li>
                                        <li class="item"></li>
                                    </ul>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    // Variables
                                    $color-list-lined: #ddd;

                                    // Style1
                                    .list.style-1 {border:1px solid #ddd; border-width:1px 0;}
                                    .list.style-1 .item {padding:12px 10px; min-height:40px; line-height:22px;}
                                    .list.style-1 .item + .item {border-top:1px solid $color-list-lined;}

                                    // Style2
                                    .list.style-2 .item {padding:12px 10px; min-height:40px; line-height:22px; border-top:1px solid transparent;}
                                    .list.style-2 .item + .item {border-top:1px solid $color-list-lined;}

                                    // Style3
                                    .list.style-3 .item {padding:12px 10px; min-height:40px; line-height:22px; border-bottom:1px solid $color-list-lined;}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Toolbar</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
                                    <div class="list-toolbar">
                                        <div class="list-toolbar-count">
                                            <span class="text">총</span>
                                            <span class="total">20</span>
                                            <span class="unit">개</span>
                                        </div>
                                        <div class="list-toolbar-sort">
                                            <select class="form-select">
                                                <option value="">최신순</option>
                                            </select>
                                        </div>
                                    </div>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
                                    <div class="list-toolbar">
                                        <div class="list-toolbar-count">
                                            <span class="text">총</span>
                                            <span class="total">20</span>
                                            <span class="unit">개</span>
                                        </div>
                                        <div class="list-toolbar-sort">
                                            <select class="form-select">
                                                <option value="">최신순</option>
                                            </select>
                                        </div>
                                    </div>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    /* Toolbar */
                                    .list-toolbar {display: flex; justify-content: space-between; align-items: center;}
                                    .list-toolbar-count {color:#999;}
                                    .list-toolbar-count .total {color: $color-primary;}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->
			</div>
		</article>
		<!-- //Content -->

		<script>include.quick.init()</script>
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>