<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<script src="../../_wsg/js/wsg_include.js"></script>
<script>include.meta()</script>
<script>include.head()</script>
</head>
<body>
<div id="g-wrapper">
	<script>include.header()</script>
	<div id="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article id="g-content">
			<div class="g-content-header">
				<h1 class="g-h1">Item</h1>
				<p class="g-explain-h1">마크업뷰중심 + 일부컨텐츠</p>
			</div>
			<div class="g-content-body">
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Default</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">Markup Codeview</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn is-active">HTML</a>
								</div>
							</div>
							<div class="g-example-footer is-active">
								<pre class="brush:html">
                                    <!-- item -->
                                    <div class="item-demo">
                                        <div class="primary-area">
                                            <div class="thumb">
                                                <img src="" alt="Thumbnail" />
                                            </div>
                                            <div class="title">
                                                <p class="info">Info Text</p>
                                                <p class="tit">Primary Text</p>
                                            </div>
                                        </div>
                                        <div class="secondary-area">
                                            Optional Content
                                        </div>
                                    </div>
                                    <!-- //item -->
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Styles</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit is-before"></strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
                                    <h3 class="g-h3">Outlined Bolded</h3>
                                    <ul class="list style-1">
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                    </ul>
                                    <h3 class="g-h3">Centered Lines</h3>
                                    <ul class="list style-2">
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                    </ul>
                                    <h3 class="g-h3">Inner Lined</h3>
                                    <ul class="list style-3">
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                        <li class="item">
                                            Item Area
                                        </li>
                                    </ul>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
                                    <h3 class="g-h3">Style 1</h3>
                                    <ul class="list style-1">
                                        <li class="item"></li>
                                        <li class="item"></li>
                                        <li class="item"></li>
                                    </ul>
                                    <h3 class="g-h3">Style 2</h3>
                                    <ul class="list style-2">
                                        <li class="item"></li>
                                        <li class="item"></li>
                                        <li class="item"></li>
                                    </ul>
                                    <h3 class="g-h3">Style 3</h3>
                                    <ul class="list style-3">
                                        <li class="item"></li>
                                        <li class="item"></li>
                                        <li class="item"></li>
                                    </ul>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    /* Style1 */
                                    .list.style-1 {border:1px solid #999; border-width:1px 0;}
                                    .list.style-1 .item {padding:5px 10px; min-height:40px; line-height:30px;}
                                    .list.style-1 .item + .item {border-top:1px solid #ddd;}

                                    /* Style2 */
                                    .list.style-2 .item {padding:5px 10px; min-height:40px; line-height:30px; border-top:1px solid transparent;}
                                    .list.style-2 .item + .item {border-top:1px solid #ddd;}

                                    /* Style3 */
                                    .list.style-3 {padding:5px 10px;}
                                    .list.style-3 .item {min-height:40px; line-height:30px; border-bottom:1px solid #ddd;}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->
			</div>
		</article>
		<!-- //Content -->

		<script>include.quick.init()</script>
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>