<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<script src="../../_wsg/js/wsg_include.js"></script>
<script>include.meta()</script>
<script>include.head()</script>
</head>
<body>
<div id="g-wrapper">
	<script>include.header()</script>
	<div id="g-container">
		<script>include.aside.init()</script>

		<!-- Content -->
		<article id="g-content">
			<div class="g-content-header">
				<h1 class="g-h1">Label</h1>
				<p class="g-explain-h1">Library Elements</p>
			</div>
			<div class="g-content-body">
				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Default</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">Markup Codeview</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn is-active">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-footer is-active">
								<pre class="brush:html">
									<span class="label"></span>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
									/*-------------------------------------------------------------------
										## Label
									-------------------------------------------------------------------*/
									/* Default */
									.label {display:inline-block; text-align: center; vertical-align:middle;}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->

				<!-- Section -->
				<section class="g-section g-in-sec">
					<div class="g-section-header">
						<h2 class="g-h2">Styles</h2>
					</div>
					<div class="g-section-body">
						<div class="g-example-wrap">
							<div class="g-example-header">
								<strong class="g-example-tit">Markup Codeview</strong>
								<div class="g-example-nav">
									<span class="g-example-txt"></span>
									<a href="javascript:;" class="g-example-btn">HTML</a>
									<a href="javascript:;" class="g-example-btn">CSS</a>
								</div>
							</div>
							<div class="g-example-body">
								<div class="g-example-preview">
									<span class="label style-1">라벨</span>
									<span class="label style-1 primary">라벨</span>
									<span class="label style-1">라벨 텍스트</span>
									<span class="label style-1">라벨 텍스트가 길어지는 경우</span>
                                    <br/>
                                    <br/>
									<span class="label style-2">라벨</span>
									<span class="label style-2 primary">라벨</span>
                                    <br/>
                                    <br/>
									<span class="label style-3">라벨</span>
									<span class="label style-3 primary">라벨</span>
                                    <br/>
                                    <br/>
									<span class="label style-4">라벨</span>
									<span class="label style-4 primary">라벨</span>
                                    <br/>
                                    <br/>
									<span class="label style-5">라벨</span>
									<span class="label style-5 primary">라벨</span>
                                    <br/>
                                    <br/>
									<span class="label style-6">라벨</span>
									<span class="label style-6 primary">라벨</span>
                                    <br/>
                                    <br/>
									<span class="label texted">라벨</span>
									<span class="label texted primary">라벨</span>
								</div>
							</div>
							<div class="g-example-footer">
								<pre class="brush:html">
									<span class="label style-1">라벨</span>
									<span class="label style-1 primary">라벨</span>

                                    <span class="label style-2">라벨</span>
									<span class="label style-2 primary">라벨</span>

                                    <span class="label style-3">라벨</span>
									<span class="label style-3 primary">라벨</span>

                                    <span class="label style-4">라벨</span>
									<span class="label style-4 primary">라벨</span>

                                    <span class="label style-5">라벨</span>
									<span class="label style-5 primary">라벨</span>

                                    <span class="label style-6">라벨</span>
									<span class="label style-6 primary">라벨</span>

                                    <span class="label texted">라벨</span>
									<span class="label texted primary">라벨</span>
								</pre>
							</div>
							<div class="g-example-footer">
								<pre class="brush:css">
                                    // Labels
                                    @mixin ui-label-contained {
                                        line-height: 22px; padding:0 8px; background:#444; border:1px solid transparent; color:#fff;
                                        &.primary {background:$color-primary;}
                                    }
                                    @mixin ui-label-outlined {
                                        line-height: 22px; padding:0 8px; background:#fff; border:1px solid #444; color:#444;
                                        &.primary {border:1px solid $color-primary; color:$color-primary;}
                                    }
                                    @mixin ui-label-texted {
                                        font-size:14px; line-height: 22px;
                                        &.primary {color:$color-primary;}
                                    }
                                    @mixin ui-label-sized($min, $max) {
                                        min-width:$min; max-width:$max; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
                                    }

                                    /* Styles */
                                    .label.style-1 {@include ui-label-contained; @include ui-label-sized(60px, 120px)}
                                    .label.style-2 {@include ui-label-outlined;}
                                    .label.style-3 {@include ui-label-contained; border-radius:4px;}
                                    .label.style-4 {@include ui-label-outlined; border-radius:4px;}
                                    .label.style-5 {@include ui-label-contained; border-radius:30px;}
                                    .label.style-6 {@include ui-label-outlined; border-radius:30px;}
                                    .label.texted {@include ui-label-texted;}
								</pre>
							</div>
						</div>
					</div>
				</section>
				<!-- //Section -->
			</div>
		</article>
		<!-- //Content -->

		<script>include.quick.init()</script>
	</div>
	<script>include.footer()</script>
</div>
</body>
</html>