@charset "UTF-8";
/*-------------------------------------------------------------------
	파일이름 : Cards
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/* Default */
.card {
  position: relative; }

.card-inner, .card-header, .card-body, .card-footer {
  position: relative;
  z-index: 2; }

/* Design */
.card-basic {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 20px; }

.card-basic .card-head {
  padding: 10px 20px; }

.card-basic .card-body {
  padding: 10px 20px; }

.card-basic .card-foot {
  padding: 10px 20px; }
