@charset "UTF-8";
/*-------------------------------------------------------------------
	파일이름 : Icons
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	## Icon
-------------------------------------------------------------------*/
/* Default */
.arw, .ico, .flag {
  display: inline-block;
  background: no-repeat 0 0;
  vertical-align: middle;
  overflow: hidden;
  color: transparent;
  text-indent: -999px;
  white-space: nowrap; }

/* Styles */
.ico-badge1 {
  width: 40px;
  height: 28px;
  background-image: url(../img/cmn/ico_badge01.png); }

.ico-badge1.primary {
  background-position: 0 0; }

.ico-badge1.gray {
  background-position: -40px 0; }

.ico-close1 {
  width: 15px;
  height: 15px;
  background-image: url(../img/cmn/ico_close01.png); }

.ico-close1.primary {
  background-position: 0 0; }

.ico-close1.dark {
  background-position: -15px 0; }

.ico-close1.white {
  background-position: -30px 0; }

.ico-close1.gray {
  background-position: -45px 0; }

.ico-del1 {
  width: 22px;
  height: 22px;
  background-image: url(../img/cmn/ico_del01.png); }

.ico-del1.primary {
  background-position: 0 0; }

.ico-del1.dark {
  background-position: -22px 0; }

.ico-del1.white {
  background-position: -44px 0; }

.ico-del1.gray {
  background-position: -66px 0; }

.ico-more1 {
  width: 25px;
  height: 25px;
  background-image: url(../img/cmn/ico_more01.png); }

.ico-more1.primary {
  background-position: 0 0; }

.ico-more1.dark {
  background-position: -25px 0; }

.ico-more1.white {
  background-position: -50px 0; }

.ico-more1.gray {
  background-position: -75px 0; }

.ico-more2 {
  width: 40px;
  height: 40px;
  background-image: url(../img/cmn/ico_more02.png); }

.ico-more2.primary {
  background-position: 0 0; }

.ico-more2.dark {
  background-position: -40px 0; }

.ico-more2.white {
  background-position: -80px 0; }

.ico-more2.gray {
  background-position: -120px 0; }

.ico-file1 {
  width: 22px;
  height: 24px;
  background-image: url(../img/cmn/ico_file01.png); }

.ico-file1.primary {
  background-position: 0 0; }

.ico-file1.dark {
  background-position: -21px 0; }

.ico-file1.white {
  background-position: -42px 0; }

.ico-file1.gray {
  background-position: -63px 0; }

.ico-slide2-pause {
  width: 14px;
  height: 16px;
  background-image: url(../img/cmn/ico_slide02_pause.png); }

.ico-slide2-pause.primary {
  background-position: 0 0; }

.ico-slide2-pause.dark {
  background-position: -14px 0; }

.ico-slide2-pause.white {
  background-position: -28px 0; }

.ico-slide2-pause.gray {
  background-position: -42px 0; }

.ico-slide2-play {
  width: 15px;
  height: 16px;
  background-image: url(../img/cmn/ico_slide02_play.png); }

.ico-slide2-play.primary {
  background-position: 0 0; }

.ico-slide2-play.dark {
  background-position: -15px 0; }

.ico-slide2-play.white {
  background-position: -30px 0; }

.ico-slide2-play.gray {
  background-position: -45px 0; }

.ico-search1 {
  width: 20px;
  height: 20px;
  background-image: url(../img/cmn/ico_search01.png); }

.ico-search1.primary {
  background-position: 0 0; }

.ico-search1.dark {
  background-position: -20px 0; }

.ico-search1.white {
  background-position: -40px 0; }

.ico-search1.gray {
  background-position: -60px 0; }

.ico-youtube-play {
  width: 90px;
  height: 90px;
  background-image: url(../img/cmn/ico_youtube_play.png); }

.ico-youtube-play.primary {
  background-position: 0 0; }

.ico-youtube-play.dark {
  background-position: -90px 0; }

.ico-youtube-play.white {
  background-position: -180px 0; }

.ico-youtube-play.gray {
  background-position: -270px 0; }

/* Bullets */
.bul-circle1 {
  width: 12px;
  height: 12px;
  background-image: url(../img/cmn/bul_circle01.png); }

.bul-circle1.primary {
  background-position: 0 0; }

.bul-circle1.dark {
  background-position: -12px 0; }

.bul-circle1.white {
  background-position: -24px 0; }

.bul-circle1.gray {
  background-position: -36px 0; }

/* Arrows */
.arw-tooltip1 {
  width: 6px;
  height: 10px;
  background-image: url(../img/cmn/arw_tooltip01.png); }

.arw-tooltip1.primary {
  background-position: 0 0; }

.arw-tooltip1.dark {
  background-position: -6px 0; }

.arw-tooltip1.white {
  background-position: -12px 0; }

.arw-tooltip1.gray {
  background-position: -18px 0; }

.arw-select1 {
  width: 11px;
  height: 7px;
  background-image: url(../img/cmn/arw_select01.png); }

.arw-select1.primary {
  background-position: 0 0; }

.arw-select1.dark {
  background-position: -11px 0; }

.arw-select1.white {
  background-position: -22px 0; }

.arw-select1.gray {
  background-position: -33px 0; }

.arw-more1 {
  width: 6px;
  height: 10px;
  background-image: url(../img/cmn/arw_more01.png);
  background-size: 24px 10px; }

.arw-more1.primary {
  background-position: 0 0; }

.arw-more1.dark {
  background-position: -6px 0; }

.arw-more1.white {
  background-position: -12px 0; }

.arw-more1.gray {
  background-position: -18px 0; }

.arw-board1-first {
  width: 13px;
  height: 14px;
  background-image: url(../img/cmn/arw_board01_first.png); }

.arw-board1-first.primary {
  background-position: 0 0; }

.arw-board1-first.dark {
  background-position: -13px 0; }

.arw-board1-first.white {
  background-position: -26px 0; }

.arw-board1-first.gray {
  background-position: -39px 0; }

.arw-board1-last {
  width: 13px;
  height: 14px;
  background-image: url(../img/cmn/arw_board01_last.png); }

.arw-board1-last.primary {
  background-position: 0 0; }

.arw-board1-last.dark {
  background-position: -13px 0; }

.arw-board1-last.white {
  background-position: -26px 0; }

.arw-board1-last.gray {
  background-position: -39px 0; }

.arw-board1-next {
  width: 8px;
  height: 14px;
  background-image: url(../img/cmn/arw_board01_next.png); }

.arw-board1-next.primary {
  background-position: 0 0; }

.arw-board1-next.dark {
  background-position: -8px 0; }

.arw-board1-next.white {
  background-position: -16px 0; }

.arw-board1-next.gray {
  background-position: -24px 0; }

.arw-board1-prev {
  width: 8px;
  height: 14px;
  background-image: url(../img/cmn/arw_board01_prev.png); }

.arw-board1-prev.primary {
  background-position: 0 0; }

.arw-board1-prev.dark {
  background-position: -8px 0; }

.arw-board1-prev.white {
  background-position: -16px 0; }

.arw-board1-prev.gray {
  background-position: -24px 0; }

.arw-slide1-prev {
  width: 23px;
  height: 40px;
  background-image: url(../img/cmn/arw_slide01_prev.png); }

.arw-slide1-prev.primary {
  background-position: 0 0; }

.arw-slide1-prev.dark {
  background-position: -23px 0; }

.arw-slide1-prev.white {
  background-position: -46px 0; }

.arw-slide1-prev.gray {
  background-position: -69px 0; }

.arw-slide1-next {
  width: 23px;
  height: 40px;
  background-image: url(../img/cmn/arw_slide01_next.png); }

.arw-slide1-next.primary {
  background-position: 0 0; }

.arw-slide1-next.dark {
  background-position: -23px 0; }

.arw-slide1-next.white {
  background-position: -46px 0; }

.arw-slide1-next.gray {
  background-position: -69px 0; }

.arw-slide2-prev {
  width: 9px;
  height: 16px;
  background-image: url(../img/cmn/arw_slide02_prev.png); }

.arw-slide2-prev.primary {
  background-position: 0 0; }

.arw-slide2-prev.dark {
  background-position: -9px 0; }

.arw-slide2-prev.white {
  background-position: -18px 0; }

.arw-slide2-prev.gray {
  background-position: -27px 0; }

.arw-slide2-next {
  width: 9px;
  height: 16px;
  background-image: url(../img/cmn/arw_slide02_next.png); }

.arw-slide2-next.primary {
  background-position: 0 0; }

.arw-slide2-next.dark {
  background-position: -9px 0; }

.arw-slide2-next.white {
  background-position: -18px 0; }

.arw-slide2-next.gray {
  background-position: -27px 0; }

.arw-toggle1 {
  width: 12px;
  height: 8px;
  background-image: url(../img/cmn/arw_toggle01.png); }

.arw-toggle1.primary {
  background-position: 0 0; }

.arw-toggle1.dark {
  background-position: -12px 0; }

.arw-toggle1.white {
  background-position: -24px 0; }

.arw-toggle1.gray {
  background-position: -36px 0; }

.arw-breadcrumb1 {
  width: 6px;
  height: 10px;
  background-image: url(../img/cmn/arw_breadcrumb01.png); }

.arw-breadcrumb1.primary {
  background-position: 0 0; }

.arw-breadcrumb1.dark {
  background-position: -6px 0; }

.arw-breadcrumb1.white {
  background-position: -12px 0; }

.arw-breadcrumb1.gray {
  background-position: -18px 0; }

/* Ratings */
.rat-star01-0 {
  width: 75px;
  height: 13px;
  background-image: url(../img/cmn/rat_star01_0.png); }

.rat-star01-1 {
  width: 75px;
  height: 13px;
  background-image: url(../img/cmn/rat_star01_1.png); }

.rat-star01-2 {
  width: 75px;
  height: 13px;
  background-image: url(../img/cmn/rat_star01_2.png); }

.rat-star01-3 {
  width: 75px;
  height: 13px;
  background-image: url(../img/cmn/rat_star01_3.png); }

.rat-star01-4 {
  width: 75px;
  height: 13px;
  background-image: url(../img/cmn/rat_star01_4.png); }

.rat-star01-5 {
  width: 75px;
  height: 13px;
  background-image: url(../img/cmn/rat_star01_5.png); }

.rat-star02-0 {
  width: 139px;
  height: 25px;
  background-image: url(../img/cmn/rat_star01_0.png); }

.rat-star02-5 {
  width: 139px;
  height: 25px;
  background-image: url(../img/cmn/rat_star01_5.png); }
