@charset "UTF-8";
/*-------------------------------------------------------------------
	파일이름 : Lists
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/* Style1 */
.list-style1 {
  border: 1px solid #999;
  border-width: 1px 0; }

.list-style1 .item {
  padding: 5px 10px;
  min-height: 40px;
  line-height: 30px;
  border-top: 1px solid #ddd; }

.list-style1 .item:first-child {
  border-top-color: transparent; }

.list-style1 .item .item-link {
  position: relative;
  display: block; }

.list-style1 .item .item-link.has-arw {
  padding-right: 20px; }

.list-style1 .item .arw-more1 {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.list-style1 .item-header {
  background-color: #f8f8f8; }

.list-style1 .item-footer {
  background-color: #f8f8f8; }

.explain-header + .list-style1 {
  margin-top: 10px; }

.list-style1 + .explain-footer {
  margin-top: 10px; }

/* Style2 */
.list-style2 {
  border: 1px solid #999;
  border-width: 1px 0; }

.list-style2 .item {
  padding: 5px 10px;
  min-height: 40px;
  line-height: 30px;
  border-top: 1px solid transparent; }

.list-style2 .item .item-link {
  position: relative;
  display: block; }

.list-style2 .item .arw-more1 {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* Style3 */
.list-style3 {
  border: 1px solid #999; }

.list-style3 .item {
  padding: 5px 10px;
  min-height: 40px;
  line-height: 30px;
  border-top: 1px solid transparent; }

.list-style3 .item .item-link {
  position: relative;
  display: block; }

.list-style3 .item .arw-more1 {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
