@charset "UTF-8";
/*-------------------------------------------------------------------
	파일이름 : Tables
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/* Default */
.tbl-group {
  overflow: hidden; }

.tbl {
  overflow: hidden;
  margin: 0 -1px; }

.tbl > table {
  width: 100%;
  margin: -1px 0;
  table-layout: fixed;
  border-collapse: collapse;
  border: 0;
  border-spacing: 0; }

/* 정렬기준 */
.tbl-centered > table > tbody > tr > th,
.tbl-centered > table > tbody > tr > td {
  text-align: center; }

.tbl-lefted > table > tbody > tr > th,
.tbl-lefted > table > tbody > tr > td {
  text-align: left; }

.tbl-righted > table > tbody > tr > th,
.tbl-righted > table > tbody > tr > td {
  text-align: right; }

/* Basic Type */
.tbl-style1 {
  overflow: hidden;
  margin: 0 -1px;
  border: 1px solid #444;
  border-width: 2px 0 1px 0; }

.tbl-style1 table {
  margin: -1px 0; }

.tbl-style1 th, .tbl-style1 td {
  padding: 6px 15px;
  text-align: left;
  border: 1px solid #ddd; }

.tbl-style1 thead th {
  background-color: #e4e8f3;
  text-align: center;
  border-bottom-color: #444; }

.tbl-style1 tbody th {
  background-color: #e4e8f3; }

.tbl-style1 .th-depth2 {
  background-color: #f1f3f9; }

/* Form Type */
.tbl-form th, .tbl-form td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left; }

.tbl-form th {
  background-color: #f1f3f9; }

/* List Type */
.tbl-list {
  border-top: 2px solid #444;
  border-bottom: 1px solid #444; }

.tbl-list th, .tbl-list td {
  padding: 5px 10px;
  text-align: left;
  line-height: 18px;
  text-align: center; }

.tbl-list th {
  height: 40px;
  border-bottom: 1px solid #444;
  font-family: 'NSB'; }

.tbl-list td {
  height: 40px;
  border-top: 1px solid #ddd; }

.tbl-list thead + tbody tr:first-child td {
  border-top: 0; }

.tbl-list .fixed-data td {
  background-color: #fafafa; }

/* View Type */
.tbl-view {
  border-top: 2px solid #444;
  border-bottom: 1px solid #444; }

.tbl-view th, .tbl-view td {
  padding: 10px 20px;
  text-align: left;
  line-height: 18px;
  border-top: 1px solid #ddd; }

.tbl-view tr:first-child th, .tbl-view tr:first-child td {
  border-top: 0; }

.tbl-view th {
  background-color: #f0f0f0; }

.tbl-view td {
  color: #444; }

/* Pager Type */
.tbl-pager {
  border-top: 2px solid #444;
  border-bottom: 1px solid #444; }

.tbl-pager th, .tbl-pager td {
  padding: 10px 20px;
  text-align: left;
  line-height: 18px;
  border-top: 1px solid #ddd; }

.tbl-pager tr:first-child th, .tbl-pager tr:first-child td {
  border-top: 0; }

.tbl-pager td {
  color: #444; }

/* Etc Type */
/* Header,Footer */
.tbl-header::after {
  content: '';
  clear: both;
  display: block; }

.tbl-footer::after {
  content: '';
  clear: both;
  display: block; }

.tbl-header {
  margin-bottom: 10px; }

.tbl-footer {
  margin-top: 10px; }
