@charset "UTF-8";
/*-------------------------------------------------------------------
	파일이름 : Tooltips
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/* Default */
.tooltip-wrap {
  display: inline-block;
  position: relative; }

.tooltip {
  display: none; }

.tooltip, .tooltip > .arw {
  position: absolute;
  z-index: 11; }

.tooltip .tooltip-inner {
  z-index: 10; }

.tooltip.is-active {
  display: block; }

/* Common - Directions */
.tooltip-top {
  left: 50%;
  bottom: 100%;
  margin-bottom: 10px; }

.tooltip-right {
  left: 100%;
  top: 50%;
  margin-left: 10px; }

.tooltip-bottom {
  left: 50%;
  top: 100%;
  margin-top: 10px; }

.tooltip-left {
  right: 100%;
  top: 50%;
  margin-right: 10px; }

.tooltip-top, .tooltip-bottom {
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

.tooltip-right, .tooltip-left {
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.tooltip-top > .arw {
  left: 50%;
  bottom: 3px; }

.tooltip-right > .arw {
  left: 1px;
  top: 50%; }

.tooltip-bottom > .arw {
  left: 50%;
  top: 3px; }

.tooltip-left > .arw {
  right: 1px;
  top: 50%; }

.tooltip-top > .arw {
  -ms-transform: translate(-50%, 100%) rotate(-90deg);
  transform: translate(-50%, 100%) rotate(-90deg);
  -webkit-transform: translate(-50%, 100%) rotate(-90deg); }

.tooltip-bottom > .arw {
  -ms-transform: translate(-50%, -100%) rotate(90deg);
  transform: translate(-50%, -100%) rotate(90deg);
  -webkit-transform: translate(-50%, -100%) rotate(90deg); }

.tooltip-right > .arw {
  -ms-transform: translate(-100%, -50%) rotate(0deg);
  transform: translate(-100%, -50%) rotate(0deg);
  -webkit-transform: translate(-100%, -50%) rotate(0deg); }

.tooltip-left > .arw {
  -ms-transform: translate(100%, -50%) rotate(180deg);
  transform: translate(100%, -50%) rotate(180deg);
  -webkit-transform: translate(100%, -50%) rotate(180deg); }

/* Design - Type A (툴팁설명) */
.tooltip-basic {
  width: 200px;
  -webkit-animation: tootlpBasic 0.3s;
  animation: tootlpBasic 0.3s; }

.tooltip-basic .tooltip-inner {
  position: relative;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px; }

.tooltip-basic .tooltip-close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 17px;
  height: 17px;
  overflow: hidden;
  padding: 2px;
  border-radius: 50%; }

.tooltip-basic .tooltip-close::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  color: #999; }

.tooltip-basic .tooltip-close:before,
.tooltip-basic .tooltip-close:after {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 13px;
  margin-top: -6px;
  background-color: #333;
  content: ''; }

.tooltip-basic .tooltip-close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.tooltip-basic .tooltip-close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
