<div class="header-inner in-sec">
	<div class="logo-area">
		<a href="/Home/html/index.html" class="logo">STD KIT</a>
	</div>
	<div class="gnb-area">
		<nav class="gnb">
			<ul class="nav1-list">
				<li class="nav1-item"><a href="/Home/html/components/components.html" class="nav1-link">Components</a>
					<div class="nav2-area">
						<ul class="nav2-list">
							<!-- <li class="nav2-item"><a href="/Home/html/components/presentation.html" class="nav2-link">Presentaion</a></li> -->
							<li class="nav2-item"><a href="/Home/html/components/components.html" class="nav2-link">Components</a></li>
							<li class="nav2-item"><a href="/Home/html/components/documentation.html" class="nav2-link">Documentation</a></li>
						</ul>
					</div>
				</li>
				<li class="nav1-item"><a href="/Home/html/section/headers.html" class="nav1-link">Components</a>
					<div class="nav2-area">
						<ul class="nav2-list">
							<li class="nav2-item"><a href="/Home/html/section/headers.html" class="nav2-link">Headers</a></li>
							<li class="nav2-item"><a href="/Home/html/section/features.html" class="nav2-link">Features</a></li>
							<li class="nav2-item"><a href="/Home/html/section/blogs.html" class="nav2-link">Blogs</a></li>
							<li class="nav2-item"><a href="/Home/html/section/teams.html" class="nav2-link">Teams</a></li>
							<li class="nav2-item"><a href="/Home/html/section/projects.html" class="nav2-link">Projects</a></li>
							<li class="nav2-item"><a href="/Home/html/section/pricing.html" class="nav2-link">Pricing</a></li>
							<li class="nav2-item"><a href="/Home/html/section/testimonials.html" class="nav2-link">Testimonials</a></li>
							<li class="nav2-item"><a href="/Home/html/section/contacts.html" class="nav2-link">Contacts</a></li>
						</ul>
					</div>
				</li>
				<li class="nav1-item"><a href="/Home/html/example/" class="nav1-link">Examples</a>
					<div class="nav2-area">
						<ul class="nav2-list">
							<li class="nav2-item"><a href="/Home/html/example/aboutUs.html" class="nav2-link">About Us</a></li>
							<li class="nav2-item"><a href="/Home/html/example/blogPost.html" class="nav2-link">Blog Post</a></li>
							<li class="nav2-item"><a href="/Home/html/example/contactUs.html" class="nav2-link">Contact Us</a></li>
							<li class="nav2-item"><a href="/Home/html/example/landingPage.html" class="nav2-link">Landing Page</a></li>
							<li class="nav2-item"><a href="/Home/html/example/loginPage.html" class="nav2-link">Login Page</a></li>
							<li class="nav2-item"><a href="/Home/html/example/pricingPage.html" class="nav2-link">Pricing Page</a></li>
							<li class="nav2-item"><a href="/Home/html/example/shoppingCart.html" class="nav2-link">Shopping Card</a></li>
							<li class="nav2-item"><a href="/Home/html/example/ecommercePage.html" class="nav2-link">Ecommerce Page</a></li>
							<li class="nav2-item"><a href="/Home/html/example/productPage.html" class="nav2-link">Product Page</a></li>
							<li class="nav2-item"><a href="/Home/html/example/profilePage.html" class="nav2-link">Profile Page</a></li>
							<li class="nav2-item"><a href="/Home/html/example/signupPage.html" class="nav2-link">Signup Page</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	<div class="drawer-area">
		<button type="button" class="btn btn-drawer">
			<span class="drawer-group">
				<i class="drawer-top"></i><i class="drawer-mid"></i><i class="drawer-btm"></i>
				<span class="blind">메뉴보기</span>
			</span>
		</button>
	</div>
</div>
