@charset "utf-8";
/*-------------------------------------------------------------------
	파일정의 : 레이아웃
	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
/* Default */
body, html {height:100%;}
.wrapper {min-height:100%;}
.wrapper, .container, .content, .content-body {display:flex; flex-direction:column; flex-grow:1; flex-basis:auto;}
.header, .footer, .content-header, .content-footer {flex:none;}
.content-body {display:block;}
.skipNav {position:fixed; left:0; bottom:100%; width:100%;}
.skipNav a {display:block; line-height:40px; text-align: center; background:#333; color:#fff; font-size:16px; transition:transform 0.2s ease;}
.skipNav a:focus {transform:translate(0, 100%);}

/* Common */
.in-sec {max-width:1200px; margin-left:auto; margin-right:auto;}

/* Aside */
.aside {visibility:hidden; display:block; position:fixed; left:0; top:0; width:100%; height:100%;}
.aside .aside-body {position:absolute; right:0; top:0; z-index:11; width:280px; height:100%; padding:30px; background-color:#fff; box-shadow:0 2px 4px 0 rgba(0,0,0,0.2); transform:translateX(100%); transition:all 0.25s ease;}
.aside .close-area {position:absolute; right:20px; top:20px;}
.aside .dimmer {z-index:10;}
.aside.is-active {visibility:visible; z-index:300;}
.aside.is-active .aside-body {transform:translateX(0);}

/* Logo */
.header .logo {font-size:20px;}

/* Drawer */
.header .btn-drawer {width:40px; height:40px; padding:10px;}
.header .btn-drawer .drawer-group {flex-direction:column;}
.header .btn-drawer .drawer-top,
.header .btn-drawer .drawer-mid,
.header .btn-drawer .drawer-btm {display:block; width:100%; height:2px; background:#333;}
.header .btn-drawer .drawer-mid {margin:6px 0;}

/* GNB */
.header .gnb .nav1-list {display:flex; height:inherit; margin:0 -10px;}
.header .gnb .nav1-item {position:relative; margin:0 10px;}
.header .gnb .nav1-link {display:flex; justify-content:center; align-items:center; padding:0 10px; height:50px; font-size:16px; outline:0;}
.header .gnb .nav2-area {display:block; position:absolute; right:0; top:100%; overflow:hidden; height:0; background-color:#fff; border-radius:6px; box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);}
.header .gnb .nav2-list {margin:-5px 0; min-width:140px; padding:10px 0;}
.header .gnb .nav2-item {margin:5px 0;}
.header .gnb .nav2-link {display:block; line-height:22px; padding:0 15px; outline:0;}
.header .gnb .nav1-link:focus,
.header .gnb .nav1-link:hover,
.header .gnb .nav1-link:active {color:#cc0000;}
.header .gnb .nav2-link:focus,
.header .gnb .nav2-link:hover,
.header .gnb .nav2-link:active {background-color:#cc0000; color:#fff;}
.header .gnb .nav1-item.is-active .nav1-link {color:#cc0000;}
.header .gnb .nav2-item.is-active .nav2-link {background-color:#cc0000; color:#fff;}
.header .gnb .nav1-item.is-active .nav2-area {height:auto;}

/* SNB */
.aside .snb .nav1-list {margin:-10px 0;}
.aside .snb .nav1-item {position:relative; margin:10px 0;}
.aside .snb .nav1-link {display:flex; align-items:center; padding:0 10px; height:50px; font-size:16px; outline:0;}
.aside .snb .nav2-area {display:block; overflow:hidden; height:0; background-color:#fff; border-radius:6px; box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);}
.aside .snb .nav2-list {margin:-5px 0; min-width:140px; padding:10px 0;}
.aside .snb .nav2-item {margin:5px 0;}
.aside .snb .nav2-link {display:block; line-height:22px; padding:0 15px; outline:0;}
.aside .snb .nav1-link:focus,
.aside .snb .nav1-link:hover,
.aside .snb .nav1-link:active {color:#cc0000;}
.aside .snb .nav2-link:focus,
.aside .snb .nav2-link:hover,
.aside .snb .nav2-link:active {background-color:#cc0000; color:#fff;}
.aside .snb .nav1-item.is-active .nav1-link {color:#cc0000;}
.aside .snb .nav2-item.is-active .nav2-link {background-color:#cc0000; color:#fff;}
.aside .snb .nav1-item.is-active .nav2-area {height:auto;}

/*-------------------------------------------------------------------
    @서브
-------------------------------------------------------------------*/
/* Header */
.sub-wrap .header {width:100%; height:80px; background-color:#fff; box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);}
.sub-wrap .header .header-inner {display:flex; align-items:center; height:inherit;}
.sub-wrap .header .logo-area {display:flex; flex:none; margin-right:auto;}
.sub-wrap .header .gnb-area {display:flex; flex:none; margin-left:auto; margin-right:30px;}

/* Container */
.sub-wrap .content-body {padding-top:50px; padding-bottom:50px;}

/* Footer */

/*-------------------------------------------------------------------
    @서브
-------------------------------------------------------------------*/
.main-wrap {background:url('http://placeimg.com/1920/1080/nature') no-repeat center center; background-size:1920px 1080px;}
.main-wrap .container {align-items:center; justify-content:center;}
.main-wrap .content {display:block; flex:none;}
