<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="keywords" content="웹스타일가이드, STANDARD-UI FRAMEWORKS">
<meta name="description" content="웹스타일가이드, STANDARD-UI FRAMEWORKS">
<title>Components | Standard Frameworks</title>
<script src="/Home/js/import.js"></script>
<script src="/Home/js/ui/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
</head>
<body>
<div class="wrapper sub-wrap">
	<!-- SkipNav -->
	<div class="skipNav">
		<a href="#content">본문 바로가기</a>
	</div>
	<!-- //SkipNav -->

	<!-- Header -->
	<header class="header"></header>
	<!-- //Header -->

	<!-- Aside -->
	<aside class="aside"></aside>
	<!-- //Aside -->

	<!-- Container -->
	<main role="main" class="container">
		<div id="content" class="content">
			<div class="content-head">
				<div class="in-sec">
					<h1 class="h-tit"><strong>STD UI KIT</strong> <em>Components</em></h1>
				</div>
			</div>
			<div class="content-body">
				<!-- Sections -->
				<section class="sec demo01 in-sec">
					<div class="sec-head">
						<h2 class="h-tit">Section Title1</h2>
					</div>
					<div class="sec-body">
						<p>신종 코로나바이러스 감염증(코로나19) 신규 환자가 무더기로 발생하면서 제때에 병상 확보가 가능할지 우려가 커지고 있다. 특히 환자가 급증하고 있는 수도권 병원에서 환자를 제대로 수용할 수 있을지에 대한 우려와 함께 서둘러 추가 병상을 마련해야 한다는 목소리가 나온다.</p>
						<p>뉴욕증시가 전고점 탈환에 도전했지만 실패했다. 미국의 실망스러운 소비 회복세가 주가의 발목을 잡았다.</p>
						<section class="sec">
							<h3 class="h-tit">Section Title2</h3>
							<p>반면 대형주 위주의 S&P(스탠다드앤푸어스) 500 지수는 0.58포인트(0.02%) 내린 3372.85를 기록했다.</p>
							<section class="sec">
								<h4 class="h-tit">Section Title3</h3>
								<p>주간으로 보면 3대 지수 모두 올랐다. 다우지수는 1.8% 뛰었고, S&P 500 지수와 나스닥지수는 각각 0.6%, 0.1% 상승했다.</p>
							</section>
						</section>
					</div>
				</section>
				<!-- //Sections -->

				<!-- Forms -->
				<section class="sec in-sec">
					<div class="sec-head">
						<h2 class="h-tit">Forms</h2>
					</div>
					<div class="sec-body">
						<div class="form-controls">
							<input type="text" class="input demo01">
							<input type="text" class="input demo01" readonly>
							<input type="text" class="input demo01" disabled>
							<input type="text" class="input demo01 is-focused">
							<input type="text" class="input demo01 is-active">
						</div>
						<div class="form-controls">
							<select class="select demo01"><option>Select</option></select>
							<select class="select demo01" readonly><option>Select</option></select>
							<select class="select demo01" disabled><option>Select</option></select>
							<select class="select demo01 is-focused"><option>Select</option></select>
							<select class="select demo01 is-active"><option>Select</option></select>
						</div>
						<div class="form-controls">
							<span class="check demo01">
								<input type="checkbox" name="sCheck1" id="sCheck11">
								<label for="sCheck11"><span class="check-txt">Checkbox</span></label>
							</span>
							<span class="check demo01">
								<input type="checkbox" name="sCheck1" id="sCheck11" readonly>
								<label for="sCheck11"><span class="check-txt">Checkbox</span></label>
							</span>
							<span class="check demo01">
								<input type="checkbox" name="sCheck1" id="sCheck11" disabled>
								<label for="sCheck11"><span class="check-txt">Checkbox</span></label>
							</span>
							<span class="check demo01">
								<input type="checkbox" name="sCheck1" id="sCheck11" class="is-focused">
								<label for="sCheck11"><span class="check-txt">Checkbox</span></label>
							</span>
							<span class="check demo01">
								<input type="checkbox" name="sCheck1" id="sCheck11" class="is-active">
								<label for="sCheck11"><span class="check-txt">Checkbox</span></label>
							</span>
						</div>
						<div class="form-controls">
							<span class="radio demo01">
								<input type="radio" name="sRadio1" id="sRadio11">
								<label for="sRadio11"><span class="check-txt">Radio</span></label>
							</span>
							<span class="radio demo01">
								<input type="radio" name="sRadio1" id="sRadio11" readonly>
								<label for="sRadio11"><span class="check-txt">Radio</span></label>
							</span>
							<span class="radio demo01">
								<input type="radio" name="sRadio1" id="sRadio11" disabled>
								<label for="sRadio11"><span class="check-txt">Radio</span></label>
							</span>
							<span class="radio demo01">
								<input type="radio" name="sRadio1" id="sRadio11" class="is-focused">
								<label for="sRadio11"><span class="check-txt">Radio</span></label>
							</span>
							<span class="radio demo01">
								<input type="radio" name="sRadio1" id="sRadio11" class="is-active">
								<label for="sRadio11"><span class="check-txt">Radio</span></label>
							</span>
						</div>
					</div>
				</section>
				<!-- //Forms -->

				<!-- Buttons -->
				<section class="sec in-sec">
					<div class="sec-head">
						<h2 class="h-tit">Buttons</h2>
					</div>
					<div class="sec-body">
						<div class="btn-area">
							<button type="button" class="btn"><span>Basic</span></button>
							<button type="button" class="btn primary"><span>Primary</span></button>
							<button type="button" class="btn secondary"><span>Secondary</span></button>
						</div>
						<div class="btn-area">
							<button type="button" class="btn-ico"><i class="ico demo01">Basic ICON</i></button>
							<button type="button" class="btn-ico primary"><i class="ico demo01">Primary ICON</i></button>
							<button type="button" class="btn-ico secondary"><i class="ico demo01">Secondary ICON</i></button>
						</div>
					</div>
				</section>
				<!-- //Buttons -->

				<!-- Bullets -->
				<section class="sec in-sec">
					<div class="sec-head">
						<h2 class="h-tit">Bullets</h2>
					</div>
					<div class="sec-body">
						
					</div>
				</section>
				<!-- //Bullets -->

				<!-- Buttons -->
				<section class="sec in-sec">
					<div class="sec-head">
						<h2 class="h-tit">Buttons</h2>
					</div>
					<div class="sec-body">
						<p>h2 Section</p>
						<section class="sec">
							<h3 class="h-tit">h3</h3>
							<p>h3 Section</p>
							<section class="sec">
								<h4 class="h-tit">h4</h3>
								<p>h4 Section</p>
							</section>
						</section>
					</div>
				</section>
				<!-- //Buttons -->

				<!-- Buttons -->
				<section class="sec in-sec">
					<div class="sec-head">
						<h2 class="h-tit">Buttons</h2>
					</div>
					<div class="sec-body">
						<p>h2 Section</p>
						<section class="sec">
							<h3 class="h-tit">h3</h3>
							<p>h3 Section</p>
							<section class="sec">
								<h4 class="h-tit">h4</h3>
								<p>h4 Section</p>
							</section>
						</section>
					</div>
				</section>
				<!-- //Buttons -->

				<!-- Buttons -->
				<section class="sec in-sec">
					<div class="sec-head">
						<h2 class="h-tit">Buttons</h2>
					</div>
					<div class="sec-body">
						<p>h2 Section</p>
						<section class="sec">
							<h3 class="h-tit">h3</h3>
							<p>h3 Section</p>
							<section class="sec">
								<h4 class="h-tit">h4</h3>
								<p>h4 Section</p>
							</section>
						</section>
					</div>
				</section>
				<!-- //Buttons -->

				<!-- Buttons -->
				<section class="sec in-sec">
					<div class="sec-head">
						<h2 class="h-tit">Buttons</h2>
					</div>
					<div class="sec-body">
						<p>h2 Section</p>
						<section class="sec">
							<h3 class="h-tit">h3</h3>
							<p>h3 Section</p>
							<section class="sec">
								<h4 class="h-tit">h4</h3>
								<p>h4 Section</p>
							</section>
						</section>
					</div>
				</section>
				<!-- //Buttons -->

				<!-- Buttons -->
				<section class="sec in-sec">
					<div class="sec-head">
						<h2 class="h-tit">Buttons</h2>
					</div>
					<div class="sec-body">
						<p>h2 Section</p>
						<section class="sec">
							<h3 class="h-tit">h3</h3>
							<p>h3 Section</p>
							<section class="sec">
								<h4 class="h-tit">h4</h3>
								<p>h4 Section</p>
							</section>
						</section>
					</div>
				</section>
				<!-- //Buttons -->

				<!-- Buttons -->
				<section class="sec in-sec">
					<div class="sec-head">
						<h2 class="h-tit">Buttons</h2>
					</div>
					<div class="sec-body">
						<p>h2 Section</p>
						<section class="sec">
							<h3 class="h-tit">h3</h3>
							<p>h3 Section</p>
							<section class="sec">
								<h4 class="h-tit">h4</h3>
								<p>h4 Section</p>
							</section>
						</section>
					</div>
				</section>
				<!-- //Buttons -->

			</div>
		</div>
	</main>
	<!-- //Container -->

	<!-- Footer -->
	<footer class="footer"></footer>
	<!-- //Footer -->
</div>
</body>
</html>