<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="keywords" content="웹스타일가이드, STANDARD-UI FRAMEWORKS">
<meta name="description" content="웹스타일가이드, STANDARD-UI FRAMEWORKS">
<title>Presentation | Standard Frameworks</title>
<script src="/Home/js/import.js"></script>
<script src="/Home/js/ui/ui.publish.js"></script><!-- 퍼블리싱 작업용 환경설정(개발적용안함) -->
</head>
<body>
<div class="wrapper sub-wrap">
	<!-- SkipNav -->
	<div class="skipNav">
		<a href="#content">본문 바로가기</a>
	</div>
	<!-- //SkipNav -->

	<!-- Header -->
	<header class="header"></header>
	<!-- //Header -->

	<!-- Aside -->
	<aside class="aside"></aside>
	<!-- //Aside -->

	<!-- Container -->
	<main role="main" class="container">
		<div id="content" class="content main-content">
			<div class="content-head visual">
				<div class="in-sec">
					<h1 class="h-tit">Standard Frameworks UI KIT</h1>
					<p class="explain">Start the Development With A STD UI Kit.</p>
				</div>
			</div>
			<div class="content-body">
				<!-- Section01 -->
				<div class="sec intro-sec in-sec">
					<div class="summary-area col col-8 col-c">
						<p class="summary">
							Introducing common design methodologies such as overall structure, content, and components that make up the UI
						</p>
					</div>
					<div class="desc-area grid">
						<div class="col col-4">
							<dl class="desc">
								<dt class="desc-tit">Components</dt>
								<dd class="desc-txt">UI 기본구성요소</dd>
							</dl>
						</div>
						<div class="col col-4">
							<dl class="desc">
								<dt class="desc-tit">Pettern Sections</dt>
								<dd class="desc-txt">반복적으로 사용되는 컨텐츠</dd>
							</dl>		
						</div>
						<div class="col col-4">
							<dl class="desc">
								<dt class="desc-tit">Example Pages</dt>
								<dd class="desc-txt">샘플 헤이지 제공</dd>
							</dl>		
						</div>
					</div>
				</div>
				<!-- //Section01 -->
			</div>
		</div>
	</main>
	<!-- //Container -->

	<!-- Footer -->
	<footer class="footer"></footer>
	<!-- //Footer -->
</div>
</body>
</html>