@charset "utf-8";
//-------------------------------------------------------------------
//	파일이름 : Variables
//	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
//-------------------------------------------------------------------
//-------------------------------------------------------------------
//	Value
//-------------------------------------------------------------------
// 레이아웃
$layout-width: 1200px;
$layout-side: 20px;

// 컬러 의미
$color-basic: #333;
$color-success: #47a104;
$color-warning: #e9b500;
$color-danger: #d45704;
$color-error: #ff0000;
$color-info: #949494;
$color-primary: #ff5400;
$color-primary-dark: #ea1b00;
$color-primary-light: #ff935d;
$color-secondary: #54873c;

// 컬래 팔래트
$color-red: red;

//-------------------------------------------------------------------
//	Includes
//-------------------------------------------------------------------
/* 말줄임 */
@mixin ellipsis-1 {overflow:hidden; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
@mixin ellipsis-2 {overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
@mixin ellipsis-3 {overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical;}
@mixin ellipsis-4 {overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:4; -webkit-box-orient:vertical;}
@mixin ellipsis-5 {overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:5; -webkit-box-orient:vertical;}
@mixin ellipsis-6 {overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:6; -webkit-box-orient:vertical;}
@mixin ellipsis-7 {overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:7; -webkit-box-orient:vertical;}

// Position
@mixin centered-t {position:absolute; left:50%; top:0; transform:translateX(-50%);}
@mixin centered-r {position:absolute; right:0; top:50%; transform:translateY(-50%);}
@mixin centered-b {position:absolute; left:50%; bottom:0; transform:translateX(-50%);}
@mixin centered-l {position:absolute; left:0; top:50%; transform:translateY(-50%);}
@mixin centered-c {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}

/* Dropmenu */
@mixin dropdown {left:0; top:100%; opacity:0; animation:dropdown 0.3s ease both; transform:translateY(-50%) scaleY(0); transition:opacity 0.2s ease;}
@mixin dropdown-active {opacity:1; animation:dropdown-active 0.3s ease both;}
@mixin dropup {left:0; bottom:100%; opacity:0; animation:dropup 0.3s ease both; transform:translateY(-50%) scaleY(0); transition:opacity 0.2s ease;}
@mixin dropup-active {opacity:1; animation:dropup-active 0.3s ease both;}
@mixin wideScale {transform:scaleX(0); transition:transform 0.25s ease;}
@mixin wideScale-active {transform:scaleX(1);}

@keyframes dropdown {
	from {transform:translateY(0) scaleY(1);}
	to {transform:translateY(-50%) scaleY(0);}
}
@keyframes dropdown-active {
	from {transform:translateY(-50%) scaleY(0);}
	to {transform:translateY(0) scaleY(1);}
}
@keyframes dropup {
	from {transform:translateY(0) scaleY(1);}
	to {transform:translateY(50%) scaleY(0);}
}
@keyframes dropup-active {
	from {transform:translateY(50%) scaleY(0);}
	to {transform:translateY(0) scaleY(1);}
}
