@charset 'utf-8';
/*********************************************************************
	Layout
*********************************************************************/

/* Default */
body, html {height:100%;}
.wrapper {min-height:100%;}
.wrapper, .container, .content, .content-body {display:flex; flex-direction:column; flex-grow:1; flex-basis:auto;}
.header, .footer, .content-header, .content-footer {flex:none;}

/* Common */
.in-sec {width:1200px; margin-left:auto; margin-right:auto;}