/*****************************************************
    Buttons
*****************************************************/
/* Base */
.button {display:inline-flex; align-items: center; justify-content: center;}
.button:disabled {cursor: default;}

/* Module A */
.button.module-a {padding: 10px 20px; border-radius: 4px; background-color: #fff; border:1px solid #E3E4E5; color: #75777B;}
.button.module-a:disabled {background-color: #F8F8FA;}
.button.module-a.primary {background-color: #ff664d; border-color: transparent; color: #fff;}
.button.module-a.primary:disabled {background-color: #ddd; color: #fafafa;}

/* Module B */
.button.module-b {padding: 10px 20px; border-radius: 4px; background-color: #fff; border:1px solid #E3E4E5; color: #75777B;}
.button.module-b:disabled {background-color: #F8F8FA;}
.button.module-b.primary {background-color: #ff664d; border-color: transparent; color: #fff;}
.button.module-b.primary:disabled {background-color: #ddd; color: #fafafa;}

/* Module C */
.button.module-c {padding: 10px 20px; border-radius: 4px; background-color: #fff; border:1px solid #E3E4E5; color: #75777B;}
.button.module-c:disabled {background-color: #F8F8FA;}
.button.module-c.primary {background-color: #ff664d; border-color: transparent; color: #fff;}
.button.module-c.primary:disabled {background-color: #ddd; color: #fafafa;}
