@charset "UTF-8";
/*********************************************************************
	Index
*********************************************************************/
/*********************************************************************
	분류그룹 : 초기화
*********************************************************************/
/*********************************************************************
	@ Webfont
*********************************************************************/
@font-face { font-family: "NotoSans"; font-weight: 100; src: url("../fonts/NotoSans-Thin.eot"); src: local("※"), url("../fonts/NotoSans-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Thin.woff") format("woff"); }

@font-face { font-family: "NotoSans"; font-weight: 300; src: url("../fonts/NotoSans-Light.eot"); src: local("※"), url("../fonts/NotoSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Light.woff") format("woff"); }

@font-face { font-family: "NotoSans"; font-weight: 400; src: url("../fonts/NotoSans-Regular.eot"); src: local("※"), url("../fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Regular.woff") format("woff"); }

@font-face { font-family: "NotoSans"; font-weight: 500; src: url("../fonts/NotoSans-Medium.eot"); src: local("※"), url("../fonts/NotoSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Medium.woff") format("woff"); }

@font-face { font-family: "NotoSans"; font-weight: 700; src: url("../fonts/NotoSans-Bold.eot"); src: local("※"), url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff") format("woff"); }

/*********************************************************************
	@@ Reset
*********************************************************************/
/* Tags */
html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, caption, address, article, aside, canvas, details, figure, figcaption, main, footer, header, menu, nav, section, button, select, textarea, input, form, fieldset, legend, label, a, span, strong, em, address, pre, code, dfn, small, i, b { margin: 0; padding: 0; border: 0; list-style: none; font-style: normal; font-size: inherit; font-weight: inherit; font-family: inherit; color: inherit; box-sizing: inherit; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; -o-box-sizing: inherit; -webkit-print-color-adjust: exact; }

:before, :after { box-sizing: inherit; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; -o-box-sizing: inherit; }

main, article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section { display: block; }

html { scroll-behavior: smooth; font-size: 1px; }

body { scroll-behavior: smooth; font-size: 14rem; }

body { font-family: 'NotoSans', 'sans-serif'; line-height: 1; word-break: break-all; word-wrap: break-word; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; }

html[lang=ja] body, html[lang=zh] body { word-break: normal; }

[hidden], hr { display: none; }

img { vertical-align: middle; }

button { background-color: transparent; cursor: pointer; }

fieldset, iframe { width: 100%; }

img, a, frame, iframe, fieldset { border: 0; }

a { text-decoration: none; }

table { width: 100%; border-spacing: 0; border-collapse: collapse; }

caption { height: 1px; overflow: hidden; }

legend { position: fixed; overflow: hidden; border: 0; margin: -1px; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%); }

button { overflow: hidden; background-color: transparent; cursor: pointer; }

button::-moz-focus-inner { border: 0px; padding: 0px; }

input[type='checkbox'], input[type='radio'], select { appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; }

textarea { resize: none; }

select::-ms-expand { display: none; }

input::-ms-clear, input::-ms-reveal { display: none; width: 0; height: 0; }

input::search-decoration, input::search-cancel-button, input::search-results-button, input::search-results-decoration { display: none; }

input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration { display: none; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

input::-webkit-calendar-picker-indicator { -webkit-appearance: none; }

/* Devices */
.dv-android [tabindex='0']:focus, .dv-android a:focus, .dv-android button:focus, .dv-android input:focus, .dv-android textarea:focus, .dv-android select:focus { outline: 0; }

.dv-ios [tabindex='0'], .dv-ios a, .dv-ios button, .dv-ios input, .dv-ios textarea, .dv-ios select { -webkit-tap-highlight-color: transparent; }

/* Display */
.blind { position: fixed; overflow: hidden; border: 0; margin: -1px; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%); }

.hide { display: none !important; }

/*********************************************************************
	Layout
*********************************************************************/
/* Default */
body, html { height: 100%; }

.wrapper { min-height: 100%; }

.wrapper, .container, .content, .content-body { display: flex; flex-direction: column; flex-grow: 1; flex-basis: auto; }

.header, .footer, .content-header, .content-footer { flex: none; }

/* Common */
.in-sec { width: 1200px; margin-left: auto; margin-right: auto; }

/*********************************************************************
	Accordions
*********************************************************************/
/* Base */
.acco-panel { display: none; line-height: 1.5; }

.acco-item.is-selected .acco-panel { display: block; }

/* Module A */
.acco.module-a .acco-item { border-bottom: 1px solid #ddd; }

.acco.module-a .acco-item:last-child { border-bottom: 0; }

.acco.module-a .acco-title { padding: 14px 20px; }

.acco.module-a .acco-item.is-selected .acco-title { font-weight: 700; }

.acco.module-a .acco-panel { padding: 14px 20px; background-color: #fafafa; }

/* Module B */
.acco.module-b .acco-item { border: 1px solid #ddd; border-radius: 8px; }

.acco.module-b .acco-item + .acco-item { margin-top: 8px; }

.acco.module-b .acco-title { padding: 14px 20px; }

.acco.module-b .acco-item.is-selected .acco-title { font-weight: 700; }

.acco.module-b .acco-panel { margin: 0 20px; padding: 14px 0px; border-top: 1px solid #ddd; }

/* Module C */
.acco.module-c .acco-item { border: 1px solid #ddd; border-radius: 8px; }

.acco.module-c .acco-item + .acco-item { margin-top: 8px; }

.acco.module-c .acco-title { padding: 14px 20px; }

.acco.module-c .acco-item.is-selected .acco-title { font-weight: 700; }

.acco.module-c .acco-panel { padding: 14px 20px; background-color: #fafafa; }

/*********************************************************************
	Boards
*********************************************************************/
/* Base */
/*********************************************************************
	Buttons
*********************************************************************/
/* Base */
button, .button { display: inline-flex; align-items: center; justify-content: center; overflow: hidden; padding: 0px; border: 0px; background-color: transparent; cursor: pointer; vertical-align: middle; }

.button:disabled { cursor: default; }

.button:disabled { opacity: 0.5; }

/* Module A */
.button.module-a { min-width: 180px; height: 48px; padding: 10px 20px; border-radius: 4px; background-color: #fff; color: #222; font-size: 16px; box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1), 1px 1px 5px 0 rgba(0, 0, 0, 0.05); }

.button.module-a + .button.module-a { margin-left: 10px; }

.button.module-a.primary { background-color: #ff664d; border-color: transparent; color: #fff; }

/* Module B */
.button.module-b { min-width: 180px; height: 48px; padding: 10px 20px; border-radius: 4px; background-color: #fff; border: 1px solid #222; color: #222; font-size: 16px; }

.button.module-b + .button.module-b { margin-left: 10px; }

.button.module-b.primary { background-color: #fff; border: 1px solid #ff664d; color: #ff664d; }

/* Module C */
.button.module-c { padding: 6px 12px; border-radius: 20px; background-color: #fff; border: 1px solid #222; color: #222; }

.button.module-c + .button.module-c { margin-left: 8px; }

.button.module-c.primary { background-color: #ff664d; border-color: transparent; color: #fff; }

/* Module D */
.button.module-d { color: #666; }

.button.module-d + .button.module-d { margin-left: 8px; }

.button.module-d.primary { color: #ff664d; }

/*********************************************************************
	Cards
*********************************************************************/
/* Base */
/*********************************************************************
	Chips
*********************************************************************/
/* Base */
/*********************************************************************
	Dimmers
*********************************************************************/
/* Base */
/*********************************************************************
	Dropmenus
*********************************************************************/
/* Base */
/*********************************************************************
	Forms
*********************************************************************/
/* Base */
/*********************************************************************
	Icons
*********************************************************************/
/* Base */
.icon { display: inline-flex; flex: none; align-items: center; justify-content: center; position: relative; vertical-align: middle; }

.icon::before, .icon::after { display: block; width: 0; height: 0; background: no-repeat 0 0 / 100% auto; }

/* Types */
.label.icon.left::before { margin-right: 4px; }

.label.icon.right::after { margin-left: 4px; }

.button.icon.left::before { margin-right: 4px; }

.button.icon.right::after { margin-left: 4px; }

/* Size 24 */
.icon.twitter.right::after, .icon.twitter:not(.right)::before { content: ''; width: 24px; height: 24px; background-image: url("../img/icon_24_px_twitter.png"); }

/*********************************************************************
	Elements
*********************************************************************/
/* Image */
.img-cover { display: flex; width: 100%; height: 100%; overflow: hidden; }

.img-cover img { object-fit: cover; width: 100%; height: 100%; }

/* Divider */
hr.module-a { display: block; width: 100%; height: 8px; padding: 0; margin: 0; background-color: #eee; border: 0; }

hr.module-b { display: block; width: 100%; height: 6px; padding: 0; margin: 0; background-color: #fafafa; border: 0; }

hr.module-c { display: block; width: 100%; height: 6px; padding: 0; margin: 0; background-color: #fafafa; border: 1px solid #ddd; border-width: 1px 0; }

/* Badges */
.badge.module-a { display: inline-block; width: 6px; height: 6px; border-radius: 50%; background-color: #FF664D; }

.badge.module-b { display: inline-block; padding: 0 5px; line-height: 16px; border-radius: 10px; background-color: #FF664D; color: #fff; font-size: 12px; font-weight: 400; }

/*********************************************************************
	Labels
*********************************************************************/
/* Base */
.label { display: inline-flex; align-items: center; justify-content: center; overflow: hidden; padding: 0px; border: 0px; background-color: transparent; vertical-align: middle; line-height: 1.5; }

/* Module A */
.label.module-a { min-width: 100px; padding: 6px 12px; font-size: 14px; border-radius: 3px; border: 1px solid #ccc; color: #666; }

.label.module-a + .label.module-a { margin-left: 4px; }

.label.module-a.primary { background-color: #ff664d; border-color: transparent; color: #fff; }

/* Module B */
.label.module-b { padding: 4px 10px; font-size: 14px; border-radius: 20px; border: 1px solid #ccc; color: #666; }

.label.module-b + .label.module-b { margin-left: 4px; }

.label.module-b.primary { border-color: #ff664d; color: #ff664d; }

/* Module C */
.label.module-c { padding: 4px 8px; font-size: 12px; border-radius: 3px; background-color: #eee; color: #666; }

.label.module-c + .label.module-c { margin-left: 4px; }

.label.module-c.primary { background-color: #ff664d; border-color: transparent; color: #fff; }

/* Module D */
.label.module-d { font-size: 12px; color: #666; }

.label.module-d + .label.module-d { margin-left: 4px; }

.label.module-d.primary { color: #ff664d; }

/*********************************************************************
	Loaders
*********************************************************************/
/* Base */
/*********************************************************************
	Modals
*********************************************************************/
/* Base */
/*********************************************************************
	Tabs
*********************************************************************/
/* Base */
.tab-list { display: flex; align-items: center; }

.tab { position: relative; display: inline-flex; justify-content: center; align-items: center; z-index: 0; }

.tab-panel { display: none; }

.tab-panel.is-visibled { display: block; }

/* Module A */
.tab-nav.module-a .tab-list { height: 48px; border-bottom: 1px solid #ddd; }

.tab-nav.module-a .tab { height: 48px; padding: 10px 20px; border-bottom: 2px solid transparent; color: #666; }

.tab-nav.module-a .tab.is-selected { border-bottom-color: #222; color: #222; }

.tab-nav.module-a + .tab-panels { margin-top: 30px; }

/* Module B */
.tab-nav.module-b .tab-list { height: 48px; border-bottom: 1px solid #222; }

.tab-nav.module-b .tab { height: 48px; background-color: #fafafa; padding: 10px 20px; border: 1px solid #ddd; border-bottom-color: #222; color: #666; margin-right: -1px; }

.tab-nav.module-b .tab.is-selected { z-index: 1; background-color: #fff; border-color: #222; border-bottom-color: #fff; color: #222; }

.tab-nav.module-b + .tab-panels { margin-top: 30px; }

/* Module C */
.tab-nav.module-c .tab-list { height: 48px; }

.tab-nav.module-c .tab { height: 48px; padding: 10px 20px; border: 1px solid #ddd; color: #666; }

.tab-nav.module-c .tab + .tab { margin-left: 8px; }

.tab-nav.module-c .tab.is-selected { border-color: #222; background-color: #222; color: #fff; }

.tab-nav.module-c + .tab-panels { margin-top: 30px; }
