@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 메인 컨텐츠
	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @레이아웃
-------------------------------------------------------------------*/
.main-wrap {background:url('http://placeimg.com/1000/800/any') no-repeat center center / cover;}
/* .main-wrap .header {display:none;} */
.main-wrap .container {position:absolute; left:0; right:0; width:100%; top:50%; transform: translateY(-50%);}
.main-wrap .content {color:#fff; text-align: center;}
.main-wrap .footer {display:none; background-color: rgba(0,0,0,0.2); color: #fff;}

/*-------------------------------------------------------------------
    @섹션
-------------------------------------------------------------------*/
.main-wrap .jumbo-explain {margin-top:14px;}
.main-wrap .jumbotron {max-width:420px; height:100%; margin:auto; text-shadow:0 3px 3px rgba(0,0,0,0.2);}
.main-wrap .section-nav {margin-top:40px;}
.main-wrap .section-nav ul {display:flex; justify-content: center;}
.main-wrap .section-nav ul li {margin:5px;}
.main-wrap .section-nav .btn {height:46px; padding:0 24px; font-size:20px; font-weight: 500; border-radius:30px; box-shadow:0 3px 3px rgba(0,0,0,0.1);}

/*-------------------------------------------------------------------
	분류그룹 : 서브 컨텐츠
	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
/* 비주얼영역 */

/*-------------------------------------------------------------------
    @Components
-------------------------------------------------------------------*/
/* Presentation */

/*-------------------------------------------------------------------
	분류그룹 : 기타 컨텐츠
	속성순서 : 레이아웃, 사이징, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @공통
-------------------------------------------------------------------*/
/* 컨텐츠명 */

/*-------------------------------------------------------------------
    @대메뉴
-------------------------------------------------------------------*/
/* 서브메뉴명 > 화면명 */


