/*-------------------------------------------------------------------
	파일이름 : Accordions
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/* Default */
.acco-item .acco-cont {position:relative; display:none;}

/* Common */
.acco-title,
.acco-toggle,
.acco-label {display:block; position:relative; transition:all 0.3s;}
.acco-toggle .arw {position:absolute; top:50%; right:0px; transform:translateY(-50%) rotate(0); transition:all 0.3s;}
.acco-toggle:disabled .arw {opacity:0.5;}
.acco-item.is-active .acco-toggle .arw {transform:translateY(-50%) rotate(180deg)}

/* Design Basic */
.acco-basic {overflow:hidden; border:1px solid #ddd; border-radius:5px;}
.acco-basic .acco-toggle {display:block; width:100%; padding:10px 20px; color:#222; text-align:left;}
.acco-basic .acco-toggle:disabled {color:#999;}
.acco-basic .acco-toggle .arw {right:20px;}
.acco-basic .acco-label {padding-right:20px;}
.acco-basic .acco-cont {padding:10px 20px; background-color:#ffffff;}
.acco-basic .acco-item + .acco-item .acco-title {border-top:1px solid #ddd;}
.acco-basic .acco-item.is-active .acco-title {background-color:#f8f8f8;}
.acco-basic .acco-item.is-active .acco-toggle {color:#222;}
.acco-basic .acco-item.is-active .acco-toggle .arw {opacity:1;}

/* Design Basic2 */
.acco-basic2 {overflow:hidden; border:1px solid #ddd; border-radius:5px;}
.acco-basic2 .acco-toggle {display:block; padding:10px 20px; color:#222;}
.acco-basic2 .acco-toggle[disabled] {color:#999;}
.acco-basic2 .acco-toggle .arw {opacity:0.5;}
.acco-basic2 .acco-label {padding-right:20px;}
.acco-basic2 .acco-content {padding:10px 20px; background-color:#ffffff;}
.acco-basic2 .acco-content + .acco-title {border-top:1px solid #ddd;}
.acco-basic2 .is-active.acco-title {background-color:#f8f8f8;}
.acco-basic2 .is-active.acco-title .acco-toggle {color:#222;}
.acco-basic2 .is-active.acco-title .acco-toggle .arw {opacity:1;}

/* Design Basic3 */
.acco-basic3 {overflow:hidden; border:1px solid #ddd; border-radius:5px;}
.acco-basic3 .acco-toggle {display:block; padding:10px 20px; color:#222;}
.acco-basic3 .acco-toggle[disabled] {color:#999;}
.acco-basic3 .acco-toggle .arw {opacity:0.5;}
.acco-basic3 .acco-label {padding-right:20px;}
.acco-basic3 .acco-content {padding:10px 20px; background-color:#ffffff;}
.acco-basic3 .acco-content + .acco-title {border-top:1px solid #ddd;}
.acco-basic3 .is-active.acco-title {background-color:#f8f8f8;}
.acco-basic3 .is-active.acco-title .acco-toggle {color:#222;}
.acco-basic3 .is-active.acco-title .acco-toggle .arw {opacity:1;}