/*-------------------------------------------------------------------
	파일이름 : Badges
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/* Default */
.badge {display:inline-block; vertical-align: middle;}

/* Styles */
.badge.style-1 {width:6px; height:6px; background-color: $color-primary; border-radius: 50%;}
.badge.style-2 {min-width:13px; max-width:50px; padding:3px 6px; background-color: $color-primary; border-radius: 10px; color:#fff; font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}