/*-------------------------------------------------------------------
	파일이름 : Dropmenus
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/* Common */
.drop {width:100%; position:relative; z-index:10; display:inline-block;}
.drop-menu {position:absolute; z-index:2; width:100%; background-color:#fff;}
.drop-toggle {position:relative; z-index:3; width:100%; text-align:left;}
.drop-toggle .arw {position:absolute; top:50%; right:10px;}

/* Transition */
.drop-down .drop-menu {@include dropdown}
.drop-down.is-active .drop-menu {@include dropdown-active}
.drop-down .drop-toggle .arw {transform:translateY(-50%) rotate(0deg); transition:transform 0.2s ease;}
.drop-down.is-active .drop-toggle .arw {transform:translateY(-50%) rotate(180deg);}
.drop-top .drop-menu {@include dropup}
.drop-top.is-active .drop-menu {@include dropup-active}
.drop-top .drop-toggle .arw {transform:translateY(-50%) rotate(180deg); transition:transform 0.2s ease;}
.drop-top.is-active .drop-toggle .arw {transform:translateY(-50%) rotate(0deg);}

/* Design */
.drop-basic {width:150px;}
.drop-basic .drop-toggle {padding:0 30px 0 10px; border:1px solid #ddd; border-radius:3px 3px 0 0; line-height:30px; font-size:14px;}
.drop-basic .drop-menu {padding:5px 10px; border:1px solid #ddd; background-color:#fff; border-radius:0 0 3px 3px; line-height:24px; outline:0;}