/*-------------------------------------------------------------------
	파일이름 : Form Mixins
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @@ Form Group
-------------------------------------------------------------------*/
/* Row Group */
.form.type-row + .form.type-row {margin-top:20px;}
.form.type-row {display:block;}
.form.type-row .form-content {margin-top:2px;}
.form.type-row .form-desc,
.form.type-row .form-info,
.form.type-row .form-alert {margin-top:5px; line-height:22px;}
.form.type-row .form-controls + .form-desc,
.form.type-row .form-controls + .form-info,
.form.type-row .form-controls + .form-alert {margin-top:10px;}

/* Col Group */
.form.type-col + .form.type-col {margin-top:20px;}
.form.type-col {display:flex; width:100%;}
.form.type-col .form-title {width:100px;}
.form.type-col .form-content {flex:1 1 auto;}
.form.type-col .form-desc,
.form.type-col .form-info,
.form.type-col .form-alert {margin-top:5px; line-height:22px;}
.form.type-col .form-controls + .form-desc,
.form.type-col .form-controls + .form-info,
.form.type-col .form-controls + .form-alert {margin-top:10px;}

/* Wide Group */
.form.type-wide + .form.type-wide {margin-top:20px;}
.form.type-wide {display:flex;}
.form.type-wide .form-title {flex:none; width:100px;}
.form.type-wide .form-content {display:flex; flex:1 0 auto; align-items:center;}
.form.type-wide .form-content .form-controls {width:auto;}
.form.type-wide .form-desc,
.form.type-wide .form-info,
.form.type-wide .form-alert {flex:none; padding-left:20px; line-height:22px;}

/*-------------------------------------------------------------------
	@@ Form Controls
-------------------------------------------------------------------*/
/* Controls */
.form-controls {position:relative; display:flex; align-items: center; width:100%;}
.form-controls.flexible .form-select,
.form-controls.flexible .form-input {flex:1 1 auto;}

/* Gutter */
.form-controls .form-text {margin:0 8px;}
.form-controls .form-button {margin:0 8px;}
.form-controls .form-text:first-child,
.form-controls .form-button:first-child {margin-left:0;}
.form-controls .form-text:last-child,
.form-controls .form-button:last-child {margin-right:0;}

/* Types */
.form-controls.type-email2 .form-select {width:47%;} /* 이메일 */
.form-controls.type-telNo .form-select,
.form-controls.type-telNo .form-input {width:calc(33.333% - 16px);}
.form-controls.type-email1 .form-input {width:calc(50% - 12px);}
.form-controls.type-email2 .form-select,
.form-controls.type-email2 .form-input {width:calc(50% - 12px);}
.form-controls.type-email3 .form-select {width:calc(33% - 9px); margin-left:6px;}
.form-controls.type-email3 .form-input {width:calc(33% - 9px);}
.form-controls.type-socialNo .form-input {width:calc(50% - 12px);}
.form-controls.type-globalNo .form-input {width:calc(50% - 12px);}
.form-controls.type-corpNo .form-input {width:calc(50% - 12px);}
.form-controls.type-bizNo .form-input {width:calc(33.333% - 16px);}
.form-controls.type-cardNo .form-input {width:calc(25% - 18px);}
.form-controls.type-address {flex-direction:column;}
.form-controls.type-address .row {display:flex; width: 100%;}
.form-controls.type-address .row + .row {margin-top:8px;}
.form-controls.type-address .row .form-input {flex-grow:1;}

/*-------------------------------------------------------------------
	@@ Form Input Group
-------------------------------------------------------------------*/
/* Common */
.form-input-group {position:relative; display:block;}
.form-input-group .form-input {width:100%;}

/* Type Clear */
.form-input-group.type-clear {width:100%;}
.form-input-group.type-clear .button {@include centered-r; right: 5px; height:30px; width:30px; line-height:30px;} /* 검색아이콘 버튼 */
.form-input-group.type-clear .form-input {padding-right:40px;}

/* Type Search */
.form-input-group.type-search {width:100%;}
.form-input-group.type-search .button {@include centered-r; right: 5px; height:30px; width:30px; line-height:30px;} /* 검색아이콘 버튼 */
.form-input-group.type-search .form-input {padding-right:40px;}
