/*-------------------------------------------------------------------
	파일이름 : Form Elements
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    @@ Form Variables
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    @@ Form Input
-------------------------------------------------------------------*/
/* Default */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#999;}/* IE 10 + */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#999;}/* Webkit Browser */
input:-moz-placeholder, textarea:-moz-placeholder {color:#999;}/* Mozilla Firefox 4 to 18 */
input::-moz-placeholder, textarea::-moz-placeholder {color:#999;}/* Mozilla Firefox 19+ */
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color:transparent;}/* IE 10 + */
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color:transparent;}/* Webkit Browser */
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color:transparent;}/* Mozilla Firefox 4 to 18 */
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color:transparent;}/* Mozilla Firefox 19+ */
input::-webkit-search-cancel-button {display:none; -webkit-appearance:none; -moz-appearance:none;}
input {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border:0px; vertical-align:middle;}
textarea {width:100%; vertical-align:middle; resize:none;}
select {appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
select::-ms-expand {display:none;}
.ie9 select {padding:5px 35px 4px 5px;background:none;}
.ie9 :root select {padding:0; font-size:0;}

/* Form Button */
.form-button {@include ui-input-module-a; flex:none;}

/* Form Textfield */
.form-input {@include ui-input-module-a;}
textarea.form-input {@include ui-input-module-a; height:auto; padding-top:10px; padding-bottom:10px;}

/* Form Select */
.form-select {@include ui-input-module-a; padding-right:45px; background:url('../img/cmn/arw_select01.png') no-repeat calc(100% - 15px) center;}

/* Form File */
.form-file {position:relative; display:inline-block;}
.form-file input[type="file"] {position:absolute; width:0; height:0; overflow:hidden;}
.form-file .file-hide {position:absolute; width:0; height:0; overflow:hidden;}
.form-file .file-preview {position:relative; display:flex; justify-content:center; align-items:center; overflow:hidden; width:264px; height:124px; border:1px solid #e1e1e1;}
.form-file .file-preview img {position:absolute; left:50%; top:50%; max-width:100%; transform:translate(-50%, -50%);}

/* Form Radio */
/* Basic */
.form-radio {display:inline-block; position:relative; margin:5px 0; line-height:1; vertical-align:middle;}
.form-radio label {display:inline-block; position:relative; min-width:20px; min-height:20px; font-size:13px; line-height:18px; vertical-align:middle;}
.form-radio label span {display:inline-block; padding-left:28px;}
.form-radio label:before, .form-radio label:after {content:''; position:absolute; left:0; top:0;}
.form-radio label:before {top:0; width:20px; height:20px; border:1px solid #ddd; background:#fff; border-radius:50%;}
.form-radio > input {position:absolute; left:0; top:0; width:20px; height:20px;}
.form-radio + .form-radio {margin-left:10px;}
/* Checked */
.form-radio > input:checked + label:before {background-color:#fff; border-color:$color-primary;}
.form-radio > input:checked + label:after {top:5px; left:5px; width:10px; height:10px; border-radius:50%; background:$color-primary;}
/* Focused */
.form-radio > input.is-focused + label:before,
.form-radio > input:hover + label:before,
.form-radio > input:focus + label:before {border-color:#888;}
.form-radio > input:checked:focus + label:before,
.form-radio > input:checked:hover + label:before {border-color:$color-primary; transition:all 0.3s;}
/* Disabled */
.form-radio > input[disabled] + label {color:#999;}
.form-radio > input[disabled] + label:before {background-color:#f0f0f0;}
.form-radio > input[disabled]:focus + label:before,
.form-radio > input[disabled]:hover + label:before {border-color:#ddd;}
.form-radio > input[disabled]:checked + label:after {background:#888;}
.form-radio > input[disabled]:checked + label:before,
.form-radio > input[disabled]:checked:focus + label:before,
.form-radio > input[disabled]:checked:hover + label:before {border-color:#888;}
/* Errored */
.form-radio > input.is-errored + label {color:#f52727;}
.form-radio > input.is-errored + label:before,
.form-radio > input.is-errored.is-focused:checked + label:before,
.form-radio > input.is-errored:checked:hover + label:before,
.form-radio > input.is-errored:checked:focus + label:before  {border-color:#f52727;}
.form-radio > input.is-errored:checked + label:before {border-color:#f52727;}
.form-radio > input.is-errored:checked + label:after {background-color:#f52727;}

/* Form Check */
/* Basic */
.form-checkbox {display:inline-block; position:relative; margin:5px 0; line-height:1; vertical-align:middle;}
.form-checkbox label {display:inline-block; position:relative; min-width:20px; min-height:20px; font-size:13px; line-height:20px; vertical-align:middle;}
.form-checkbox label span {display:inline-block; padding-left:28px;}
.form-checkbox label:before, .form-checkbox label:after {content:''; position:absolute; left:0; top:0;}
.form-checkbox label:before {top:0; width:20px; height:20px; border:1px solid #ddd; background:#fff;}
.form-checkbox > input {position:absolute; left:0; top:0; width:20px; height:20px;}
.form-checkbox + .form-checkbox {margin-left:10px;}
/* Checked */
.form-checkbox > input:checked + label:before {border-color:$color-primary;}
.form-checkbox > input:checked + label:after {left:5px; top:5px; width:10px; height:7px; background:none; border-left:2px solid $color-primary; border-bottom:2px solid $color-primary; transform:rotate(-45deg);}
/* Focused */
.form-checkbox > input.is-focused + label:before,
.form-checkbox > input:hover + label:before,
.form-checkbox > input:focus + label:before {border-color:#888;}
.form-checkbox > input:checked:focus + label:before,
.form-checkbox > input:checked:hover + label:before {border-color:$color-primary; transition:all 0.3s;}
/* Disabled */
.form-checkbox > input[disabled] + label {color:#999;}
.form-checkbox > input[disabled] + label:before {background-color:#f0f0f0;}
.form-checkbox > input[disabled]:focus + label:before,
.form-checkbox > input[disabled]:hover + label:before {border-color:#ddd;}
.form-checkbox > input[disabled]:checked + label:after {border-color:#888;}
.form-checkbox > input[disabled]:checked + label:before,
.form-checkbox > input[disabled]:checked:focus + label:before,
.form-checkbox > input[disabled]:checked:hover + label:before {border-color:#888;}
/* Errored */
.form-checkbox > input.is-errored + label {color:#f52727;}
.form-checkbox > input.is-errored + label:before,
.form-checkbox > input.is-errored.is-focused:checked + label:before,
.form-checkbox > input.is-errored:checked:hover + label:before,
.form-checkbox > input.is-errored:checked:focus + label:before  {border-color:#f52727;}
.form-checkbox > input.is-errored:checked + label:before {border-color:#f52727;}
.form-checkbox > input.is-errored:checked + label:after {border-color:#f52727;}

/* Form Switch */
.form-switch + .form-switch {margin-left:10px;}
.form-switch {display:inline-block; position:relative;}
.form-switch label {display:inline-block; width:80px; vertical-align:top;}
.form-switch label:before, .form-switch label:after {content:'';}
.form-switch label:before {display:inline-block; width:100%; height:30px; background-color:#f0f0f0; border-radius:15px; vertical-align:top;}
.form-switch input,.form-switch label:after {position:absolute; left:2px; top:50%; z-index:1; width:40px; height:26px; line-height:26px; text-align:center; border-radius:13px; overflow:hidden; background-color:#aaa; color:#fff; font-size:12px; transform:translateY(-50%); transition:all 0.3s;}
.form-switch input {z-index:0; border:0; height:24px;}
.form-switch input:checked,.form-switch input:checked + label:after {left:calc(100% - 42px);}
.form-switch input:checked + label:after {background-color:$color-primary;}
.form-switch input + label:after {content:'OFF';}
.form-switch input:checked + label:after {content:'ON';}
.form-switch input[disabled] + label:before {background-color:#ddd;}

/*-------------------------------------------------------------------
    @@ Form Elements
-------------------------------------------------------------------*/
/* Form Text */
.form-label, .form-text {flex:none; position:relative; padding:11px 0 11px 0px; line-height:22px; vertical-align:middle;}
.form-label, span.form-text {display:inline-block;}
.form-label .required {position:absolute; top:4px; right:5px; color:$color-red;}
.form-split {display:inline-block; min-width:24px; line-height:45px; text-align:center;}
.form-alert {display:none; color:#555;}
.form-alert.is-visibled {display:block;}
.form-alert.is-errored {color:red;}
.form-alert.is-successed {color:green;}
.form-desc {color:#555;}
.form-info {color:gray;}
