/*-------------------------------------------------------------------
	파일이름 : Lists
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/* Style1 */
.list.style-1 {border:1px solid #999; border-width:1px 0;}
.list.style-1 .item {padding:5px 10px; min-height:40px; line-height:30px;}
.list.style-1 .item + .item {border-top:1px solid #ddd;}

/* Style2 */
.list.style-2 .item {padding:5px 10px; min-height:40px; line-height:30px; border-top:1px solid transparent;}
.list.style-2 .item + .item {border-top:1px solid #ddd;}

/* Style3 */
.list.style-3 {padding:5px 10px;}
.list.style-3 .item {min-height:40px; line-height:30px; border-bottom:1px solid #ddd;}


.list.style-1 .item .item-link {position:relative; display:block;}
.list.style-1 .item .item-link.has-arw {padding-right:20px;}
.list.style-1 .item .arw-more1 {position:absolute; right:0; top:50%; transform:translateY(-50%);}
.list.style-1 .item-header {background-color:#f8f8f8;}
.list.style-1 .item-footer {background-color:#f8f8f8;}
.list.style-1 + .explain-footer {margin-top:10px;}
.explain-header + .list.style-1 {margin-top:10px;}

.list.style-2 .item .item-link {position:relative; display:block;}
.list.style-2 .item .arw-more1 {position:absolute; right:0; top:50%; transform:translateY(-50%);}

.list.style-3 .item .item-link {position:relative; display:block;}
.list.style-3 .item .arw-more1 {position:absolute; right:0; top:50%; transform:translateY(-50%);}

/* Toolbar */
.list-toolbar {display: flex; justify-content: space-between; align-items: center;}
.list-toolbar-count {color:#999;}
.list-toolbar-count .total {color: $color-primary;}
