/*-------------------------------------------------------------------
	파일이름 : Lists
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/* Style1 */
.list.style-1 {border:1px solid #ddd; border-width:1px 0;}
.list.style-1 .item {padding:12px 10px; min-height:40px; line-height:22px;}
.list.style-1 .item + .item {border-top:1px solid #ddd;}

/* Style2 */
.list.style-2 .item {padding:12px 10px; min-height:40px; line-height:22px; border-top:1px solid transparent;}
.list.style-2 .item + .item {border-top:1px solid #ddd;}

/* Style3 */
.list.style-3 .item {padding:12px 10px; min-height:40px; line-height:22px; border-bottom:1px solid #ddd;}

/* Toolbar */
.list-toolbar {display: flex; justify-content: space-between; align-items: center;}
.list-toolbar-count {color:#999;}
.list-toolbar-count .total {color: $color-primary;}
