/*-------------------------------------------------------------------
	파일이름 : Paging
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/* Common */
.paging {position:relative; display:flex; justify-content:center; text-align:center;}
.paging .btn-group, .paging .num-group {display:flex;}

/* Design */
.paging-basic .btn {min-width:30px; height:30px; padding:0 5px 1px; line-height:27px; border:1px solid #ddd;}
.paging-basic .num-group {margin:0 16px;}
.paging-basic .page-group .btn + .btn,
.paging-basic .num-group li + li  {margin-left:4px;}
.paging-basic .num-group .btn[aria-current=true] {color:$color-primary; border:1px solid $color-primary;}
.paging-basic .page-group .btn:disabled {opacity:0.5;}