/*-------------------------------------------------------------------
	파일이름 : Paging
	속성순서 : 레이아웃, 크기여백, 박스모양, 문단모양, 인터렉션
-------------------------------------------------------------------*/
/* Default */
.paging {position:relative; display:flex; justify-content:center; text-align:center;}
.paging .button-group, .paging .num-group {display:flex;}

/* Style */
.paging .button {min-width:30px; height:30px; padding:0 5px 1px; line-height:27px; border:1px solid #ddd;}
.paging .num-group {margin:0 16px;}
.paging .page-group .button + .button,
.paging .num-group li + li  {margin-left:4px;}
.paging .num-group .button[aria-current=true] {color:$color-primary; border:1px solid $color-primary;}
.paging .page-group .button:disabled {opacity:0.5;}